<div>
   <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/Title_Page.png" alt="Title" align="middle"/>
</div>

# Introduction
Data is the fuel that artificial intelligence (AI) engines run on. And databases often serve as the main repository for an organization's data. IBM has been a pioneer in data management technologies and advancements for decades. And a crucial part of this journey has been the invention of IBM Db2, a database built to address current data management needs, as well as provide an advantage as companies begin to incorporate AI into their workflows. Db2 databases are powered by AI to optimize and improve the data management process — AI-based features include a query optimizer that utilizes machine learning (ML), an adaptive workload manager that automatically adjusts concurrently running workloads to ensure the optimal number of queries are executed without compromising database stability, and built-in ML stored procedures that enable enterprises to learn from their data, at scale, without having to move it off-platform. Furthermore, Db2 is built <i><u>for</u></i> AI, ensuring users can effectively build AI models using popular programming languages like Python and R, as well as make them accessible through application programming interfaces (APIs) like representational state transfer (REST) APIs. All supported by enterprise-grade features like BLU Acceleration, massively parallel processing, and active compression, alongside robust security, highly available scalability (especially with pureScale technology), and disaster recovery.

This hands-on lab is designed to do several things:
<ul>
    <li>Introduce you to some of the basic objects you will find in almost every Db2 database, as well as show you how to create and delete them</li>
    <li>Show you how to create and execute some simple <i>Structured Query Language</i> (SQL) statements that can be used to store, modify, retrieve, and delete data in a Db2 database</li>
    <li>Introduce you to some advanced Db2 topics such as the Db2 Explain facility, user defined functions, and SQL procedures</li>
    <li>Illustrate how to build Python applications that interact with a Db2 database, regardless of whether the database is on-premises (<b>created using IBM Db2 Community Edition</b>) or in the Cloud (<b>created under the Db2 "Lite" service on IBM Cloud</b>).
</ul>

### Working with Jupyter Notebook
As you can see, this hands-on lab is provided in the form of a <b><i>Jupyter Notebook</i></b>. If you are unfamiliar with this technology, a Jupyter Notebook is an open source web application that enables users to create and share documents that contain narrative text, live code, equations, and rich outputs such as graphical visualizations. (Jupyter Notebook is maintained by <a href="https://jupyter.org/">Project Jupyter</a>.) The name <i>Jupyter</i> comes from the core programming languages Jupyter Notebooks support: Julia, Python, and R. Jupyter ships with the IPython kernel, which enables users to write programs in Python, but there are currently over 100 other kernels that Jupyter Notebook supports.

The Jupyter Notebook framework contains several menu items and icons that enable users to interact with a notebook. The menu runs along the top of a Notebook just like menus do in other applications; the icons (buttons) are found just below the menu items. This introduction doesn't go into detail about each option available with every menu item. Instead, it will focus on just the two icons you will need to be familiar with to perform the exercises in this lab — these icons/buttons are emphasized in the following illustration:
<br><br>
<div>
    <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Menu_Mask.png" alt="Jupyter_Notebook_Menu" style="display:block; margin-left:auto; margin-right:auto; width: 70%;"/>
</div>
<br>
<ul>
   <li>
      <div style="display:inline-block; vertical-align:middle;">
      The </div>
   <div style="display:inline-block; vertical-align:middle;">
      <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Save.png" alt="Save" width="30px" align="middle"/></div>
   <div style="display:inline-block; vertical-align:middle;">
       icon (button) is used to save any changes you make to the notebook. <b>Ctrl+s</b> (<b>Command+s</b> <i>on Mac) performs the same function</i>.</div></li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        The
    </div>
    <div style="display:inline-block; vertical-align:middle;">        
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        icon (button) is used to execute the code — in our case Python — shown in a "<i>Code</i>" cell. <b>Shift+Enter</b> <i>performs the same function</i>.
    </div></li>
</ul>

If there are multiple code cells in a Notebook (as there are in this Notebook) and you run the cells in order, imports (external modules that are loaded into an application for use) and variables can be shared across cells. This makes it easy to separate out code into logical chunks without needing to reimport libraries or recreate variables or functions in each cell. (That being said, you will see some variables get recreated in each code cell in this lab — that's done to both reset the variable and to draw your attention to the variables that are used for each operation.) 

When you select a code cell, you will notice that there are some square braces (<b>[ ]</b>) beside the word <b>In</b> located at the top and just to the left of the cell. As you work your way through the Notebook, the square braces will be filled with a number that indicates the order in which each cell was ran. For example, if you run the first code cell found at the top of a Notebook, the square braces will be filled with the number <b>1</b>. If you run the next code cell found after it, the square braces beside that cell will be filled with the number <b>2</b>, and so on. While a code cell is being executed, the square braces will be filled with an asterisk (<b>*</b>).

### How this lab is organized
The exercises found in this hands-on lab are organized as follows:
<br><br>
<dl>
    <dt><b>Section 1.</b> Prepare the lab environment</dt>
    <ul>
        <dd><b>Step 1.</b> Set up the Jupyter Notebook environment</dd>
        <dd><b>Step 2.</b> Create a function that uses APIs in the ibm_db driver to execute SQL queries and retrieve/display query results</dd>
        <dd><b>Step 3.</b> Assign values to application variables that will be used to establish a database connection</dd>
    </ul>
    <dt><b>Section 2.</b> IBM Db2 basics</dt>
    <ul>
        <dd><b>Step&ensp; 1.</b> Establish a database connection</dd>
        <dd><b>Step&ensp; 2.</b> Query the database's system catalog</dd>
        <dd><b>Step&ensp; 3.</b> Create a table named EMPLOYEE</dd>
        <dd><b>Step&ensp; 4.</b> Insert a record into the EMPLOYEE table</dd>
        <dd><b>Step&ensp; 5.</b> Add additional records to the EMPLOYEE table using a prepared INSERT statement with parameter markers</dd>
        <dd><b>Step&ensp; 6.</b> Create a second table named DEPARTMENT and populate it</dd>
        <dd><b>Step&ensp; 7.</b> Create a view named EMP_DEPT</dd>
        <dd><b>Step&ensp; 8.</b> Change a record in the EMPLOYEE table</dd>
        <dd><b>Step&ensp; 9.</b> Remove records from the EMPLOYEE table</dd>
        <dd><b>Step 10.</b> Create the tables that are used by the Db2 Explain facility ( <i>Optional</i> )</dd>
        <dd><b>Step 11.</b> Collect Explain data for a simple query ( <i>Optional</i> )</dd>
        <dd><b>Step 12.</b> Create an index named EMP_IDX</dd>
        <dd><b>Step 13.</b> Generate Explain data for the simple query again to see if the new index improves query performance ( <i>Optional</i> )</dd>
        <dd><b>Step 14.</b> Roll back and commit a transaction</dd>
    </ul>
    <dt><b>Section 3.</b> Advanced topics</dt>
    <ul>
        <dd><b>Step 1.</b> Create two user defined functions</dd>
        <dd><b>Step 2:</b> Invoke an SQL Scalar and an SQL Table user defined function</dd>
        <dd><b>Step 3.</b> Create an SQL procedure</dd>
        <dd><b>Step 4:</b> Invoke an SQL procedure</dd>        
    </ul>
    <dt><b>Section 4.</b> Lab environment clean up</dt>
    <ul>
        <dd><b>Step 1.</b> Remove the tables used by the Db2 Explain facility ( <i>Optional</i> )</dd>
        <dd><b>Step 2:</b> Query the system catalog to see all the user-defined objects created in this lab</dd>
        <dd><b>Step 3.</b> Remove all user-defined objects created earlier from the database</dd>
        <dd><b>Step 4.</b> Query the system catalog to again to confirm that all user-defined objects created in this lab have been deleted</dd>
        <dd><b>Step 5.</b> Terminate the database connection</dd>
    </ul>
</dl>

<div class="alert alert-block alert-info">
<b>NOTE:</b> The following conventions are used whenever the syntax for a Db2 command or SQL statement is presented:
<table style="border: 1px solid; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:bottom; padding-top:10px; padding-bottom:4px;"><b>[ ]</b></td>
        <td style="width:1%; text-align:right; vertical-align:bottom; padding-top:10px; padding-bottom:4px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:bottom; padding-top:10px; padding-bottom:4px;">Parameters or items shown inside brackets are required and <b><i>must</i></b> be provided.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:top;padding-top:0px; padding-bottom:4px;"><b>&lt; &gt;</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:4px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Parameters or items shown inside angle brackets are optional and do not have to be provided.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:top;padding-top:0px; padding-bottom:4px;"><b>|</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:4px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Vertical bars indicate that one (and only one) item in the list of items presented can be specified.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:2%; text-align:center; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>, ...</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:10px;">A comma followed by three periods (ellipsis) indicate that multiple instances of the preceding parameter or item can be included in the Db2 command or SQL statement.</td>
    </tr>
</table>

The following example illustrates each of these conventions:

<b><i>Example:</i></b>

<b>REFRESH TABLE [ <i>TableName</i> , ... ]<br>
&emsp;&lt; INCREMENTAL | NON INCREMENTAL &gt;</b>

In this example, you must supply at least one <b><i>TableName</i></b> value, as the brackets ( <b>[ ]</b> ) indicate, and you can provide more than one <b><i>TableName</i></b> value, as the comma and ellipsis ( <b>, ...</b> ) characters that follow the <b><i>TableName</i></b> parameter suggest. <b>INCREMENTAL</b> and <b>NON INCREMENTAL</b> are optional, as the angle brackets ( <b>&lt; &gt;</b> ) signify, and you can specify either one or the other, but not both, as the vertical bar ( <b>|</b> ) indicates.
</div>

### Using IBM Db2 Community Edition with this hands-on lab
While this hands-on lab is set up to be ran with the <b>Db2 "Lite" service</b> on IBM Cloud, this Jupyter Notebook can be used with <b>IBM Db2 Community Edition</b> as well. IBM Db2 Community Edition is a special no-charge, full featured version of Db2 that enables data professionals to develop and deploy applications using any of the features and functionality found in in the latest release of IBM Db2. There are no limits on how long IBM Db2 Community Edition can be used, and unlike with the Db2 "Lite" service on IBM Cloud, there are no limits on the size of databases that can be created. However, there are limits on the number of cores and amount of memory supported: IBM Db2 Community Edition can be used with up to four processor cores and no more than 16 gigabytes (GB) of random access memory (RAM). One advantage of using IBM Db2 Community Edition for this lab is that the exercises labeled "<i>Optional</i> " can be executed — with the Db2 "Lite" service</b> on IBM Cloud, the code for these exercises can be examined, but the code cells <b><i>cannot</i></b> be run.

To download a copy of IBM Db2 Community Edition, simply go to the IBM Db2 web site (which can be found here: <a href="https://www.ibm.com/products/db2/database">IBM Db2 Database</a>) and click on the “<b>Try it on premises →</b>” button shown on the page. After completing and submitting the form presented, you will be re-directed to the IBM Db2 Download Center web site. Once there, select the “<b>Download</b>” link that corresponds to the operating system you plan to install IBM Db2 Community Edition on. When the file has finished downloading, refer to the IBM Db2 documentation for instructions on how to install and configure the IBM Db2 Community Edition software. (Instructions for installing Db2 Version 11.5 can be found here: <a href="https://www.ibm.com/docs/en/db2/11.5?topic=installing-db2-database-servers">Db2 servers and IBM data server clients</a>. A Bash shell script that streamlines and automates the installation process on Ubuntu Linux is available here: <a href="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/db2_env_setup.sh" download="db2_env_setup.sh">db2_env_setup.sh</a> — <i>right-click on the link and select </i>"<b>Save Lin<u>k</u> As...</b>"<i> to download this file.</i>)

<div class="alert alert-block alert-warning">
    <b>IMPORTANT:</b> If you do not complete this lab in a single sitting, you must re-run all the exercises in <b>Section 1</b> and the first two exercises in <b>Section 2</b> before you attempt to pick back up where you left off!
</div>

# Section 1. Prepare the lab environment

## Step 1. Set up the Jupyter Notebook environment
### Overview:
Before you can begin interacting with an IBM Db2 database using Python or Jupyter Notebook, there are some basic steps you must perform. These steps include:
<ol>
    <li>Downloading and installing the <strong>ibm_db</strong> Python database interface driver for IBM Db2, IBM Informix, IBM Db2 for iSeries (AS400) and IBM Db2 for z/OS servers.
    <li>Loading (importing) the <strong>ibm_db</strong> driver into the Python application or Jupyter Notebook.</li>
    <li>Loading any additional external Python modules needed into the Python application or Jupyter Notebook.</li> 
    <li>Defining any variables that will be used to supply information to, or obtain information from application programming interfaces (APIs) in the <strong>ibm_db</strong> driver. (These APIs are used to do things like establish a connection to a database, submit a query for execution, retrieve query results, and so forth.)</li>
</ol>

### Execute the code:
The code in the next "cell" performs all but the last of the tasks just identified — the task of defining variables will be performed, when necessary, throughout the remaining exercises in this lab.
<ol>
   <li>Select the code cell below and carefully read through the comments (i.e., the text that begins with a <b>#</b> character). This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Set Up The Jupyter Notebook Environment                                                      #
#----------------------------------------------------------------------------------------------#

#----------------------------------------------------------------------------------------------#
# Download And Install The ibm_db Driver Package                                               #
#   NOTE: This only needs to be performed once in a runtime environment and may have already   #
#   been done. If so, it is not harmful to attempt to install the package again, as subsequent #
#   attempts will simply state that the package requirement has already been satisfied.        #
#----------------------------------------------------------------------------------------------#
print()
!python3 -m pip install ibm_db

#----------------------------------------------------------------------------------------------#
# Load The Appropriate Python Modules                                                          #
#----------------------------------------------------------------------------------------------#
import sys                        # Provides Information About Python Interpreter Constants,
                                  # Functions, And Methods
from io import StringIO           # Implements A File-Like Class That Reads And Writes A String
                                  # Buffer (i.e., A Memory File)
from IPython import get_ipython   # Simple Function To Call To Get The Current Interactive Shell
                                  # Instance
import ibm_db                     # Contains The APIs Needed To Work With Db2 Databases

#----------------------------------------------------------------------------------------------#
# Define A Python Class Named ipynb_Exit()                                                     #
#----------------------------------------------------------------------------------------------#
#  CLASS NAME:  ipynb_Exit()                                                                   #
#  PURPOSE:     This class contains the programming logic needed to allow Python "exit()"      #
#               functionality to work without raising an error or stopping the Jupyter         #
#               Notebook kernel in the event the exit() function is called.                    #
#----------------------------------------------------------------------------------------------#
class ipynb_Exit(SystemExit):
    """Exit Exception for IPython. Exception Temporarily Redirects stderr To Buffer."""

    #------------------------------------------------------------------------------------------#
    #  FUNCTION NAME:  __init()__                                                              #
    #  PURPOSE:        This method initializes an instance of the ipynb_Exit class.            #
    #------------------------------------------------------------------------------------------#
    def __init__(self):
        sys.stderr = StringIO()      # Redirect sys.stderr to a StringIO (memory buffer) object.

    #------------------------------------------------------------------------------------------#
    #  FUNCTION NAME:  __del()__                                                               #
    #  PURPOSE:        This method cleans up when an instance of the ipynb_Exit class is       #
    #                  deleted.                                                                #
    #------------------------------------------------------------------------------------------#
    def __del__(self):
        sys.stderr = sys.__stderr__  # Restore sys.stderr to the original values it had at
                                     # the start of the program.

#----------------------------------------------------------------------------------------------#
# Define A Python Function Named customExit()                                                  #
#----------------------------------------------------------------------------------------------#
#  FUNCTION:  customExit()                                                                     #
#  PURPOSE:   This function is used to define a customized exit process.                       #
#----------------------------------------------------------------------------------------------#
def customExit(returnCode=0):
    if returnCode == 0:
        ipynb_Exit()
    else:
        raise ipynb_Exit

#----------------------------------------------------------------------------------------------#
# If An IPython Application (i.e., A Jupyter Notebook) Calls The "exit() Function, Call A      #
# Customized Exit Routine So The Jupyter Notebook Will Not Stop Running - Otherwise, Call The  #
# Default Exit Routine                                                                         #
#----------------------------------------------------------------------------------------------#
if get_ipython():    
    exit = customExit                # Rebind To The Custom Exit Function
else:
    exit = exit                      # Just Call The Exit Function

#----------------------------------------------------------------------------------------------#
# Display A Status Message Indicating This Work Is Complete                                    #
#----------------------------------------------------------------------------------------------#
print("\nAll initialization work is complete!\n")

## Step 2: Create a function that uses APIs in the <i>ibm_db</i> driver to execute SQL queries and retrieve/display query results
### Overview:
<b><i>Structured Query Language</i></b> (SQL) is a standardized language that is used to work with database objects and the data they contain. Using SQL, it's possible to define, alter, and delete database objects, as well as add data to, change data in, and retrieve or remove data from any objects created. Because SQL is non-procedural by design, it is not considered an actual programming language even though, like other programming languages, it has a defined syntax and its own set of language elements. Consequently, applications that utilize SQL are typically built by combining the decision and sequence control of a high-level programming language — in our case, Python — with the data storage, manipulation, and retrieval capabilities SQL provides.

SQL statements are frequently categorized according to the function they're designed to perform:
<ul>
    <li><b>Embedded SQL Application Construct statements</b>: Used for the sole purpose of
        constructing embedded SQL applications. (Applications written with the C programming language frequently use these statements.)</li>
    <li><b>Data Control Language (DCL) statements</b>: Used to grant and revoke authorities and privileges needed for Db2 instance management and data access.</li>
    <li><b>Data Definition Language (DDL) statements</b>: Used to create, alter, and delete
        database objects.</li>
    <li><b>Data Manipulation Language (DML) statements</b>: Used to store data in,
        modify data in, retrieve data from, and remove data from select database objects.</li>
</ul>

Because many of the exercises found in this lab focus on constructing and executing DDL and DML statements, the database used will be queried often to ensure that operations desired are performed as expected. Rather than repeat the Python code needed to execute a query, retrieve the results, and display the information obtained <i><u>every time a query is executed</u></i>, the code in the following cell will encapsulate this work in a Python function that can be called whenever a query needs to be executed.

With Python and Jupyter Notebook, application programming interfaces (APIs) in the <b>ibm_db</b> Python database interface driver are used to submit SQL statements to a Db2 database for processing, as well as retrieve results. The APIs used in the code in the following cell include: 

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:11%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>ibm_db.exec_immediate( )</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Used to prepare and execute an SQL statement, using values supplied for parameter markers that were coded in the statement (if there are any), immediately.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:11%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>ibm_db.stmt_errormsg( )</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Used to return an SQLCODE and corresponding error message that explains why an attempt to return an <i>IBM_DBStatement</i> object from an <b>ibm_db.prepare( )</b>, <b>ibm_db.exec_immediate( )</b>, or <b>ibm_db.callproc( )</b> API call was unsuccessful; can also be used to return an SQLCODE and error message that identifies why the last operation using a <i>IBM_DBStatement</i> object failed.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:11%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><b>ibm_db.fetch_tuple( )</b></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Used to retrieve a row (record) from a result set and copy its data to a Python tuple. (<i>A Python tuple is a data structure that is used to store a comma-separated, ordered sequence of values. Each item in a tuple has a unique index value, starting with zero; an individual item in a tuple can be accessed by referencing its index value.</i>) Depending on how it is called, it can advance a cursor to the next row in a result set and copy the data for that row into a tuple. (<i>A cursor is an object that enables traversal over the rows of a result set.</i>) Or, it can be used to retrieve the data for a specific row — provided a keyset driven, dynamic, or static cursor is used to traverse the result set. In either case, the value for the first column in the row will be stored in the first position of the tuple (index position 0), the second column will be stored in the second position (index position 1) and so on.</td>
    </tr>
</table>

You can learn more about the APIs that are available with the <b>ibm_db</b> Python interface driver here: <a href="https://github.com/IBM/db2-python">IBM Db2-Python</a> and here: <a href="https://github.com/ibmdb/python-ibmdb/wiki/APIs">ibmdb/python-ibmdb APIs</a>. 

### Execute the code:
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the operations the function performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Define A Python Function Named runQuery()                                                    #
#----------------------------------------------------------------------------------------------#

#----------------------------------------------------------------------------------------------#
#  FUNCTION NAME:  runQuery()                                                                  #
#  PURPOSE:        This function attempts to execute an SQL query (SELECT statement) and then  #
#                  display any results obtained.                                               #
#                                                                                              #
#  PARAMETERS:     dispInfo   - A value that indentifies what information is to be displayed   #
#                                 (0 - Display everything; 1 - Display records and row count;  #
#                                  2 - Display records only)                                   #
#                  sqlStmt    - The SQL query statement to be executed                         #
#                  colHeaders - A Python tuple containing display column header information    #
#                  colWidths  - A Python tuple containing display column width information     #
#                                                                                              #
#  RETURNS:        True       - The query was executed and the results were displayed          #
#                  False      - The query was not executed or the results were not displayed   #
#----------------------------------------------------------------------------------------------#
def runQuery(dispInfo, sqlStmt, columnHeaders, columnWidths):
    
    # Define And Initialize The Appropriate Variables
    resultSet = False                        # Pointer To A Query Result Set
    errorMsg = ""                            # Detailed Error Information
    noData = False                           # No Data Found Flag
    firstPass = True                         # First Pass Through Record Display Loop Flag
    dataRecord = False                       # Data Record
    numColumns = len(columnHeaders)          # Number Of Values In The Column Headers Tuple
    numRows = 0                              # Number Of Records (Rows) Retrieved 
    tupIndx = 0                              # Tuple Index
    dataValue = ""                           # Data Value String
    newValue = ""                            # Trimmed Data Value String
    
    # If The dispInfo Variable Is Set To 0, Display The SQL Statement That Is To Be Executed,
    # Along With A Message That The Statement Is Being Executed
    if dispInfo == 0:
        print("\nExecuting the following SQL statement:\n\n" + sqlStmt)
        
    # Execute The SQL Statement Provided By Calling The ibm_db.exec_immediate() API
    # (This API Prepares And Executes An SQL Statement In A Single Step)
    try:
        resultSet = ibm_db.exec_immediate(connectionID, sqlStmt)
    except Exception:
        print("\nERROR: Unable to execute the SQL statement specified.\n")    
        pass

    # If The SQL Statement Could Not Be Executed, Display An Error Message And Return
    # FALSE To The Calling Function (Call The ibm_db.stmt_errormsg() API To Obtain
    # Detailed Error Information)
    if resultSet == False:
        errorMsg = ibm_db.stmt_errormsg()
        print(errorMsg + "\n")
        return(False)       
        
    # Otherwise, Print A Blank Line And Begin Processing Any Records Retrieved
    else:
        print()
       
    # As Long As There Are Records In The Result Set Produced, ...
    while noData == False:

        # Retrieve A Record And Store Its Values In A Tuple By Calling
        # The ibm_db.fetch_tuple() API
        try:
            dataRecord = ibm_db.fetch_tuple(resultSet)
        except:
            print("ibm_db.fetch_tuple() returned an error.\n")
            pass

        # If A Record Could Not Be Retrieved Or If No Record Was Found, 
        # Set The "No Data" Flag To TRUE To Exit The while() Loop
        if dataRecord == False:
            noData = True
            
            # If This Is The First Pass Through The while() Loop,
            # Display A "No Records Found" Message And Exit The Loop
            if firstPass == True:
                print("No records found.")
                break

        # Otherwise, Display The Appropriate Information
        else:
            
            # If This Is The First Pass Through The while() Loop, ...
            if firstPass == True:
                
                # If The dispInfo Variable Is Set To 0 Display A "Query Results" Header Label
                if dispInfo == 0:
                    print("Query results:\n")

                # Display The Column Headers Provided In The columnHeaders Tuple - Left Justify
                # The Text And Make Each Column The Width Specified In The columnWidths Tuple
                for tupIndx in range(numColumns):
                    print(f'{columnHeaders[tupIndx]:<{columnWidths[tupIndx]}}', end="")
                    print("  ", end="")      # Space Between Column Header Values           
         
                # Terminate The Line And Display Column Header/Value Dividing Lines Just Below
                # The Column Headers
                print()
                for tupIndx in range(numColumns):
                    print(f'{"":-<{columnWidths[tupIndx]}}', end="")
                    print("  ", end="")       # Space Between Column Header Dividing Lines  
                    
                # Terminate The Line And Set The "First Pass" Flag To FALSE So Header
                # Information Will Not Be Displayed Again
                print()
                firstPass = False
            
            # Format And Display The Data For Each Record Retrieved
            for tupIndx in range(numColumns): # For Every Column In The Record, ...
                
                # Copy The Data Value Into A Character String Variable And
                # Remove Any Trailing Space Characters Found
                dataValue = "{}".format(dataRecord[tupIndx])
                newValue = dataValue.rstrip()
 
                # If The Data Value IS NOT A Character String, Display It Right Justified,
                # Using The Width Specified In The columnWidths Tuple 
                if type(dataRecord[tupIndx]) != str:
                    print(f'{newValue:>{columnWidths[tupIndx]}}', end="")
    
                # Otherwise (The Data Value Is A Character String), ...
                else:
        
                    # If The Character String Only Contains Alphabetical Characters,
                    # Display It Left Justified, Using The Width Specified In The
                    # columnWidths Tuple
                    if newValue.isalpha() == True:                
                        print(f'{newValue:<{columnWidths[tupIndx]}}', end="")
        
                    # Otherwise, See If The Character String Contains A Space Or
                    # Underscore Character (If It Does, isalpha() Will Return False)
                    else:
                        
                        # If The Character String Contains A Space Or Underscore Character,
                        # Display The Character String Left Justified, Using The Width
                        # Specified In The columnWidths Tuple
                        if (" " in newValue or "_" in newValue) == True:
                            print(f'{newValue:<{columnWidths[tupIndx]}}', end="")
                                                    
                        # Otherwise, Display The Character String Right Justified, Using 
                        # The Width Specified In The columnWidths Tuple
                        else:
                            print(f'{newValue:>{columnWidths[tupIndx]}}', end="")
                
                # Add Spaces Between This Column Value And The Next 
                print("  ", end="")           # Space Between Column Values 
          
            # Terminate The Line And Increment The Records (Rows) Counter
            print()
            numRows = numRows + 1

    # If The dispInfo Variable Is Set To 1 And Records Were Retrieved,
    # Display The Number Found
    if dispInfo <= 1 and firstPass == False:
        print("\nNumber of records (rows) found:", numRows)

    # Return TRUE To The Calling Function
    return(True)

# Display A Status Message Indicating The runQuery() Function Has Been Defined
print("\nA function named runQuery() has been defined!\n")

## Step 3. Assign values to application variables that will be used to establish a database connection
### Overview:
Before operations can be performed against an IBM Db2 database, a connection to the database must first be established. To do this, you need information about the database environment such as the database's name or alias, the host name or IP address of the database server, and the port number Db2 uses for TCP/IP communications. You also need appropriate authorization credentials, which typically consist of a user or authentication ID and a corresponding password. Instructions on how to obtain this information are provided in the main guide for this lab.   

### Execute the code:
Once you have collected the information needed, perform these steps to assign it to the application variables that will be used later to establish a database connection:<br>
<ol>
    <li>
        <div>Select the code cell below and assign appropriate values to the <code>dbName</code>,<code>hostName</code>, <code>portNum</code>, <code>userID</code>, and <code>passWord</code> application variables. After completing this step, if the database you are using is provided through the <b>Db2 "Lite" service on IBM Cloud</b>, the code in the following cell should look something like this:
<br>
<code style="background-color: #FFFFFF;">
&#35;----------------------------------------------------------------------------------------------&#35;
&#35; Initialize All User-Specific Connection Variables - Db2 on Cloud Database                    &#35;
&#35;   IMPORTANT: UPDATE WITH VALUES FROM YOUR OWN ENVIRONMENT, AS PER LAB INSTRUCTIONS.          &#35;
&#35;----------------------------------------------------------------------------------------------&#35;

&#35; Define And Initialize The Appropriate Variables
dbName = "bludb"
hostName = "98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
portNum = "30875"
userID = "qbn98062"
passWord = "FG62hZrRvyHy4h2c"
secureComm = True              &#35; Use SSL (Secure Sockets Layer) Communication

&#35; Display A Status Message Indicating This Work Is Complete
    print("\nUser-specific connection variable initialization work complete!\n")</code>
<br>
On the other hand, if you are using a local database that was created with <b>IBM Db2 Community Edition</b> (or some other Db2 Edition), the code in the following cell should look more like this (upon completion of this step):
<br>
<code style="background-color: #FFFFFF;">
&#35;----------------------------------------------------------------------------------------------&#35;
&#35; Initialize All User-Specific Connection Variables - Local Db2 Database                       &#35;
&#35;   IMPORTANT: UPDATE WITH VALUES FROM YOUR OWN ENVIRONMENT, AS PER LAB INSTRUCTIONS.          &#35;
&#35;----------------------------------------------------------------------------------------------&#35;

&#35; Define And Initialize The Appropriate Variables
dbName = "MY_DB"                &#35; The Alias For The Db2 Database
userID = "db2inst1"             &#35; The Instance User ID
passWord = "ibmdb2"             &#35; The Password For The Instance User ID
hostName = "localhost"          &#35; The Host Name
portNum = "25000"               &#35; The TCP/IP Port Number That Receives Db2 Connections
                                   &#35; On Db2 11.5.5 and older, the default port number is 50000
                                   &#35; (Non-SSL) or 50001 (SSL).
                                   &#35; On Db2 11.5.6 and newer, the default port number is 25000
                                   &#35; (Non-SSL or 25001 (SSL).
secureComm = False              &#35; Do NOT Use SSL (Secure Sockets Layer) Communication

&#35; Display A Status Message Indicating This Work Is Complete
print("\nUser-specific connection variable initialization work complete!\n")</code>
        </div>
    </li>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            Click on the </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Save.png" alt="Save" width="30px" align="middle"/></div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Ctrl+s</b> (or <b>command+s</b> on Mac) to save your changes.</div>
    </li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            When you are ready, click on the
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Shift+Enter</b> to execute the code.
        </div>
    </li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> Whenever new values are assigned to the variables in the cell below, the code must be saved and <i><u>re-executed</i></u>. Otherwise, the code in the code cells that follow may not execute correctly.
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Initialize All User-Specific Connection Variables - Db2 on Cloud Database                    #
#   IMPORTANT: UPDATE WITH VALUES FROM YOUR OWN ENVIRONMENT, AS PER LAB INSTRUCTIONS.          #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
dbName = "bludb"
hostName = "replace-with-your-hostname.databases.appdomain.cloud"
portNum = "replace-with-your-port-number"
userID = "replace-with-your-userID"
passWord = "replace-with-your-password"
secureComm = True              # Use SSL (Secure Sockets Layer) Communication

# Display A Status Message Indicating This Work Is Complete
print("\nUser-specific connection variable initialization work complete!\n")

# Section 2. IBM Db2 basics

## Step 1: Establish a database connection
### Overview:
As mentioned earlier, before anything can be done with a Db2 database, a connection to the database must first be established. With Python and Jupyter Notebook, the <b>ibm_db.connect( )</b> API is typically used to perform this task. This API utilizes a connection string that has the following format:

<b>DRIVER={IBM DB2 ODBC DRIVER};ATTACH=<i>connType</i>;DATABASE=<i>dbName</i>;HOSTNAME=<i>hostName</i>;PORT=<i>portNum</i>;PROTOCOL=TCPIP;SECURITY=SSL;UID=<i>userName</i>;PWD=<i>passWord</i></b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>connType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Specifies whether a connection is to be made to Db2 server (<code>TRUE</code>) or a Db2 database (<code>FALSE</code>).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>dbName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The name of the Db2 server or database the connection is to be made to.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>hostName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The host name or IP address of the Db2 server — as it is known to the TCP/IP network — the connection is to be made to.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>portNum</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The port number that receives Db2 connections on the server the connection is to be made to.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>userName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The user name/authorization ID that is to be used for authentication when the connection is established.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:4%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>passWord</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">The password that corresponds to the user name/authorization ID specified in the <b><i>userName</i></b> parameter.</td>
    </tr>      
</table>

<div class="alert alert-block alert-success">
    <b>NOTE:</b> When working with a local Db2 database, a Db2 instance must be up and running before a connection can be established. A Db2 instance can be started by executing the <b>START DATABASE MANAGER</b> (<b>db2start</b>) command. (<i>You can learn more about the START DATABASE MANAGER command here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=commands-start-database-manager">START DATABASE MANAGER command</a>.) With the Db2 "Lite" service on IBM Cloud, a Db2 instance is always running.<br><br>
    In addition, if Secure Sockets Layer (SSL) communications is not being used to establish a connection to a local Db2 database, the "<b>SECURITY=SSL</b>" clause should not be included in the connection string used. 
</div>

### Execute the code:
The code in the next cell builds a connection string in the format just described, using the values assigned to application variables earlier. It then attempts to establish a connection to the Db2 database specified.
<ol>
    <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li>
        <div style="display:inline-block; vertical-align:middle;">
            When you are ready, click on the
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
        </div>
        <div style="display:inline-block; vertical-align:middle;">
            button or press <b>Shift+Enter</b> to execute the code.
        </div>
    </li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> Make sure the correct Db2 server/database name, host name, port number, user ID, and password     have been assigned to the appropriate variables <i><u>before</u></i> executing the code in this cell.
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Establish A Db2 Database Connection                                                          #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
connString = ""                                 # Db2 Connection String
connOption = ""                                 # ibm_db.connect() API Connection Option
connectionID = None                             # Db2 Connection ID
errorMsg = ""                                   # Detailed Error Information

# Construct The String That Will Be Used To Establish A Db2 Database Connection
connString = "DRIVER={IBM DB2 ODBC DRIVER}"
connString += ";ATTACH=FALSE"            # Connect To A Database - Not A Server
connString += ";DATABASE=" + dbName      # Database Name
connString += ";HOSTNAME=" + hostName    # Host Name
connString += ";PORT=" + portNum         # Port Number
connString += ";PROTOCOL=TCPIP"          # Protocol (TCP/IP)

# If The Connection Requires Secure Sockets Layer (SSL) Communications, Add "SECURITY=SSL" 
# To The Connection String
if secureComm == True:
    connString += ";SECURITY=SSL"        # Security (SSL)

# Finish Constructing The Database Connection String
connString += ";UID=" + userID           # Authorization ID
connString += ";PWD=" + passWord         # Password

# Define The Db2 Database Connection Option That Will Enable AUTOCOMMIT Behavior
connOption = {ibm_db.SQL_ATTR_AUTOCOMMIT : ibm_db.SQL_AUTOCOMMIT_ON}

# Display A Status Message Indicating An Attempt To Establish A Connection To A Db2 Database
# Is About To Be Made
print("\nConnecting to the \'" + dbName + "\' database ... ", end="")

# Attempt To Establish A Connection To The Database Specified, Using The Connection String
# Just Constructed By Calling The ibm_db.connect() API - Turn AUTOCOMMIT Behavior ON and 
# QUOTED_LITERAL_REPLACEMENT Behavior OFF
try:
    connectionID = ibm_db.connect(connString, '', '', connOption, 
        ibm_db.QUOTED_LITERAL_REPLACEMENT_OFF)
except Exception:
    print("\n\nERROR: Unable to connect to the \'" + dbName + "\' database.")
    pass

# If A Database Connection Could Not Be Established, Display A Detailed Error Message And
# Exit (Call The ibm_db.conn_errormsg() API To Obtain Detailed Error Information)
if connectionID == None:
    errorMsg = ibm_db.conn_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Complete The Status Message
else:
    print("Done!\n")

# Display The Connection String That Was Used To Establish The Connection
print("Connection string used:\n" + connString + "\n")

## Step 2: Query the database's system catalog
### Overview:
When an IBM Db2 database is first created, it only contains a system catalog, which is a set of special tables and views that contain definitions of database objects, statistical information about the objects themselves, and information about the type of access users have to those objects. (Db2 automatically updates these tables and views whenever the <b>RUNSTATS</b> command or select SQL statements are executed  — <i>You can learn more about the system catalog views here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=sql-catalog-views">Catalog views</a>.) All other data objects must be explicitly defined.

You can obtain a list of the tables that have been defined in a database — including those tables that are part of the system catalog — by querying a system catalog view named <b>SYSCAT.TABLES</b>. (<i>We will take a closer look at tables in the next step.</i>)

### Execute the code:
The code in the next cell queries the <b>SYSCAT.TABLES</b> view and returns only a list of user-defined tables — if this is your first attempt at performing this lab, there shouldn't be any user-defined tables in the database.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Query The Database System Catalog                                                            #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
columnHeaders = ("TABNAME", "COLCOUNT")         # Result Set Column Headers Tuple
columnWidths = (12, 11)                         # Result Set Column Widths Tuple
retCode = True                                  # Return Code

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TYPE = 'T'"             # Where The TYPE Column Value Indicates Table
sqlStatement += " AND TABSCHEMA <> 'SYSIBM'"    # And The Schema Name Is NOT 'SYSIBM'
sqlStatement += " AND TABSCHEMA <> 'SYSTOOLS'"  # Or 'SYSTOOLS'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 3: Create a table named EMPLOYEE
### Overview:
A <i><b>table</b></i> is an object in a Db2 database that serves as the main repository for data. Tables present data as a collection of unordered <i>rows</i> with a fixed number of <i>columns</i>. Each column contains values of the same data type, and each row contains a set of values for one or more of the columns available. The storage representation of a row is called a <i>record</i>, the storage representation of a column is called a <i>field</i>, and each intersection of a row and column is referred to as a <i>value</i> (or <i>cell</i>). The following illustration highlights each of these components:
<br><br>
<div>
   <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/Table.png" alt="Table" style="display:block; margin-left:auto; margin-right:auto; width: 50%;"/>
   <br>
   <i>Figure 1: Structure of a table</i>
   <br><br>
</div>

Tables are created by executing the <b>CREATE TABLE</b> SQL statement. In its simplest form, the syntax for this statement looks like this:

<b>CREATE TABLE [ <i>TableName</i> ]&ensp;( [ <i>Element</i> ] , ... )<br>
&emsp;&lt; ORGANIZE BY [ ROW | COLUMN ] &gt;</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the table that is to be created.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Element</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies one or more columns, UNIQUE constraints, CHECK constraints, referential constraints, informational constraints, and/or a primary key constraint to include in the table definition.</td>
    </tr>
</table>
    
The syntax used to define each element varies according to the element specified — the basic syntax used to define a column element (which is the most common type of element used) is:

<b>[ <i>ColumnName</i> ]&ensp; [ <i>DataType</i> ]<br>
&emsp;&lt; NOT NULL &gt;<br>
&emsp;&lt; WITH DEFAULT &lt; [ <i>DefaultValue</i> ] | NULL &gt; &gt;<br>
&emsp;&lt; <i>UniqueConstraint</i> &gt;<br>
&emsp;&lt; <i>CheckConstraint</i> &gt;<br>
&emsp;&lt; <i>RIConstraint</i> &gt;</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the column; the name specified must be unique.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>DataType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies the data type to assign to the column; the data type determines the kind of data values that can be stored in the column. (<i>You can learn more about the data types available with Db2 here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=elements-data-types">Data types</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>DefaultValue</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies the default value to provide for the column if no value for the column is supplied when a new record is added to the table.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>UniqueConstraint</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies a UNIQUE or primary key constraint that is to be associated with the column. A UNIQUE constraint can be used to ensure that values assigned to one or more columns of a table are never duplicated; a primary key is a special form of a UNIQUE constraint that uniquely defines the characteristics of each table row. (<i>You can learn more about UNIQUE and primary key constraints here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=constraints-types">Types of constraints</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>CheckConstraint</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies a CHECK constraint that is to be associated with the column. A CHECK constraint can be used to ensure that a particular column in a table is never assigned an unacceptable value. (<i>You can learn more about check constraints here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=constraints-types">Types of constraints</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>RIConstraint</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies a referential integrity constraint that is to be associated with the column. Referential integrity constraints (also known as <i>referential constraints</i> and <i>foreign key constraints</i>) can be used to define required relationships between select columns and tables.  (<i>You can learn more about referential integrity constraints here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=constraints-types">Types of constraints</a>)</td>
    </tr>      
</table>

Therefore, to create a table named <b>EMPLOYEES</b> that contains three columns, one of which is named <b>EMPID</b> that will be used to store integer data, one that is named <b>NAME</b> that can contain <i><u>up to</u></i> 30 characters, and one that is named <b>DEPT</b> that will be used to store fixed-length character string data that is three characters long, you would execute a <b>CREATE TABLE</b> statement that looks like this:

<code>CREATE TABLE employees
&emsp;(empid&emsp;&emsp;INTEGER,
&emsp; name&emsp;&emsp;&emsp;VARCHAR(30),
&emsp; dept&emsp;&emsp;&emsp;CHAR(3))</code>

<div class="alert alert-block alert-success">
    <b>NOTE:</b> Db2 converts all text used in SQL statements to upper case unless a different case is specified within single quotes ('). Different cases are used here to visually separate user-supplied values (shown in lower case) from the regular syntax of the SQL statement shown (displayed in upper case). This format for examples is used throughout the exercises in this lab. That said, when looking for exact matches in queries (for example, <b>WHERE TABNAME = 'EMPLOYEES'</b>), user-supplied values must be provided in upper case because, by default, that is the way in which the value was stored. 
</div>

#### A word about Schemas:
<i><b>Schemas</b></i> provide a way to logically group objects in a database and are used to organize
data objects into sets. When objects that can be qualified by a schema are created, they are given a two-part name — the first (leftmost) part of the name is the <i>schema name</i> or <i>qualifier</i>, and the second (rightmost) part is the user-supplied object name. Syntactically, these two parts are concatenated and separated by a period (for example, <b>HR.EMPLOYEES</b>). When select database objects are created (for example, tables, views, indexes, user defined functions, and procedures), they are automatically assigned to a schema, based on the qualifier provided as part of the user-supplied name. The following illustration shows how a table named <b>EMPLOYEE</b> would be assigned to a schema named <b>HR</b> during the table creation process:
<br><br>
<div>
   <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/Schema.png" alt="Table" style="display:block; margin-left:auto; margin-right:auto; width: 70%;"/>
   <br>
   <i>Figure 2: Assigning a table to a specific schema</i>
   <br><br>
</div>
If a schema name or qualifier is not provided as part of an object’s name, the object is automatically assigned to a default schema, which typically is assigned a name that corresponds to the authorization ID of the individual who created the object.

### Execute the code:
The code in the next cell builds a <b>CREATE TABLE</b> statement and then executes it to create a table named <b>EMPLOYEE</b>. (<i>This table will be used by other exercises in this lab.</i>) It then queries the system catalog to verify that the <b>EMPLOYEE</b> table exists.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create A Table Named EMPLOYEE In The Database                                                #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
columnHeaders = ("TABNAME", "COLCOUNT")         # Result Set Column Headers Tuple
columnWidths = (12, 11)                         # Result Set Column Widths Tuple
retCode = True                                  # Return Code

# Define The CREATE TABLE Statement To Be Executed
sqlStatement = "CREATE TABLE employee ("  # Create A Table Named EMPLOYEE
sqlStatement += " empno INTEGER,"         # With A Column Named EMPNO That Accepts Integers
sqlStatement += " name VARCHAR(30),"      # And A Column Named NAME That Accepts 30 Characters
sqlStatement += " hiredate DATE,"         # And A Column Named HIREDATE That Accepts Dates
sqlStatement += " title CHAR(25),"        # And A Column Named TITLE That Accepts 25 Characters
sqlStatement += " dept CHAR(3),"          # And A Column Named DEPT That Accepts 3 Characters
sqlStatement += " salary DECIMAL(8,2))"   # And A Column Named SALARY That Accepts Numbers
                                          #   With A Total Of 8 Digits And 2 Decimal Places

# Execute The CREATE TABLE Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Retrieve Information About The EMPLOYEE Table From The System Catalog                        #
#----------------------------------------------------------------------------------------------#

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TABNAME = 'EMPLOYEE'"   # For A Table Named 'EMPLOYEE'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 4: Insert a record into the EMPLOYEE table
### Overview:
When a table is first created, it is nothing more than a definition of how a set of data values are to be stored — no data is actually stored in it. But once created, a table can be populated in a variety of ways. For example, it can be bulk-loaded using Db2 utilities like <b>Import</b>, <b>Ingest</b>, and <b>Load</b>. Or, data can be added to it, one record (row) at a time, using the <b>INSERT</b> SQL statement.

The basic syntax for the <b>INSERT</b> statement looks like this:
<br><br>
<b>INSERT INTO [ <i>TableName</i> | <i>ViewName</i> ]<br>
&emsp;&lt; ( [ <i>ColumnName</i> ] , ... ) &gt;<br>
&emsp;VALUES ( [ <i>Value</i> | NULL | DEFAULT ] , ... )</b>

where:

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, the table data is to be added to; this can be any type of table <i><u>except</u></i> a system catalog table or a system-maintained materialized query table (MQT).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ViewName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the view data is to be added to; this can be any type of view <i><u>except</u></i> a system catalog view or a read-only view.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, one or more columns that data values are to be assigned to; each column name provided must identify an existing column in the table or view specified.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Value</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies one or more data values that are to be added to the table or view specified. (If values are not provided for every column, the columns skipped must be configured to accept a default value or the value NULL.)</td>
    </tr>
</table>

Thus, to add a record to a table named <b>DEPARTMENT</b> that was created using a <b>CREATE TABLE</b> statement that looked like this:

<code>CREATE TABLE department
&emsp;(deptno&emsp;&emsp;&emsp;CHAR(3),
&emsp; deptname&emsp;CHAR(20),
&emsp; mgrid&emsp;&emsp;&emsp;&emsp;INTEGER)</code>

You might execute an <b>INSERT</b> statement that looks like this:

<code>INSERT INTO department
&emsp; (deptno, deptname, mgrid)
&emsp; VALUES ('A01', 'ADMINISTRATION', 1000)</code>

It is important to note that the number of values provided in the <b>VALUES</b> clause must equal the number of column names identified in the column name list. The values provided will be assigned to columns in the order in which they appear — in other words, the first value listed will be assigned to the first column identified, the second value will be assigned to the second column identified, and so on. In addition, each value supplied must be compatible with the data type of the column it is being assigned to. (<i>For example, a character string value can only be assigned to a column that has character string data type.</i>)

If values are provided for every column found in the table, the column name list can be omitted. In this case, the first value provided is assigned to the first column in the table, the second value is assigned to the second column, and so on. Thus, the record that was added to the <b>DEPARTMENT</b> table in the previous example could just as easily have been added by executing an <b>INSERT</b> statement that looks like this:

<code>INSERT INTO department
&emsp; VALUES ('A01', 'ADMINISTRATION', 1000)</code>

Along with literal values, two special tokens can also be used to assign values to individual columns. The first token, <b>DEFAULT</b>, is used to assign a system- or user-supplied value to a column that was defined as having a default constraint when the table was created. The second, the <b>NULL</b> token, is used to assign a NULL value to any nullable column — that is, any column that was not defined as having a <b>NOT NULL</b> constraint. (<b>NULL</b> is the term used to represent a missing value in a relational database. It is neither the value 0 nor an empty string; instead, it acts as a representation of "missing or inapplicable information.")

Therefore, you could add a record that contains a <b>NULL</b> value for the <b>MGRID</b> column to the <b>DEPARTMENT</b> table defined earlier by executing an <b>INSERT</b> statement that looks like this:

<code>INSERT INTO department
&emsp; VALUES ('A01', 'ADMINISTRATION', NULL)</code>

### Execute the code:<br>
The code in the next cell executes an <b>INSERT</b> SQL statement that adds a record to the table named <b>EMPLOYEE</b> that was created earlier. It then queries the <b>EMPLOYEE</b> table to verify the record was successfully added.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Insert A Record Into The EMPLOYEE Table Created Earlier                                      #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

# Define The INSERT Statement That Is To Be Used To Add Data To The EMPLOYEE Table
sqlStatement = "INSERT INTO employee"    # Insert Into The EMPLOYEE Table
sqlStatement += " VALUES(1000,"          # The Value 1000 For The EMPNO Column
sqlStatement += " 'JAMES DEAN',"         # The Value 'JAMES DEAN' For The NAME Column
sqlStatement += " '04/20/2010',"         # The Value '04/20/2010 For The HIREDATE Column
sqlStatement += " 'PRESIDENT',"          # The Value 'PRESIDENT' For The TITLE Column
sqlStatement += " 'A01',"                # The Value 'A01' For The DEPT Column
sqlStatement += " 158096.00)"            # And The Value 158096.00 For The SALARY Column

# Execute The SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table To Verify The Data Was Added                                        #
#----------------------------------------------------------------------------------------------#

# Define The SELECT Statement That Is To Be Executed
sqlStatement = "SELECT * FROM employee"        # Retrieve All Data From The EMPLOYEE Table

# Define And Initialize A Column Headers Tuple 
columnHeaders = ("EMPNO", "NAME", "HIREDATE", "TITLE", "DEPT", "SALARY")

# Define And Initialize A Column Widths Tuple 
columnWidths = (5, 18, 10, 15, 4, 10)

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 5: Add additional records to the EMPLOYEE table using a prepared INSERT statement with parameter markers
### Overview:
With Python and Jupyter Notebook (as well as many other programming languages), there are two ways in which SQL statements can be executed:<br>
<ul>
    <li><b>Prepare and then execute</b>: This approach separates the preparation of an SQL statement from its actual execution and is typically used when a statement is to be executed repeatedly (often with different values being supplied for place holders in the statement with each execution). This method is also used when an application needs to know information about the columns that will exist in the result set produced by the statement, in advance. The <b>ibm_db.prepare( )</b> and <b>ibm_db.execute( )</b> application programming interfaces (APIs) in the <b>ibm_db</b> library are used to process SQL statements in this manner.</li>
    <li><b>Execute immediately</b>: This approach combines the preparation and execution of an SQL statement into a single step and is typically used when a statement only needs to be executed once. The <b>ibm_db.exec_immediate( )</b> API in the <b>ibm_db</b> library is used to process SQL statements in this manner. (<i>This has been the approach used in the lab exercises thus far.</i>)</li>    
</ul>
Both methodologies allow the use of <i>parameter markers</i> in place of constants or expressions in the SQL statements used; however, parameter markers are typically <i>not</i> used if the statement is only going to be executed once. Parameter markers are represented by question mark (<b>?</b>) characters and indicate positions in an SQL statement where the value of one or more variables is to be substituted at the time the statement is executed. If an application variable is associated with a specific parameter marker in an SQL statement, that variable is said to be “<i>bound</i>” to the parameter marker and such bindings can be made by executing the <b>ibm_db.bind_param( )</b> API. That said, with Python and Jupyter Notebook, application variables do not have to be explicitly bound in order to be used to provide values to parameter markers during SQL statement execution — values can be passed, via a Python tuple, when the <b>ibm_db.execute( )</b> or <b>ibm_db.exec_immediate( )</b> API is called. However, binding gives you more control over the parameter type (input, output, or input/output), SQL data type, precision, and scale that are used for the parameter marker values provided. (<i>To keep things simple, Python tuples will be used to provide values for parameter markers used throughout this lab.</i>)

### Execute the code:
The code in the next cell builds an <b>INSERT</b> statement with parameter markers, prepares it, and then executes it repeatedly to add several different records to the <b>EMPLOYEE</b> table created earlier. It then queries the table to verify the records were successfully added. 
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Populate The EMPLOYEE Table Using A Prepared INSERT Statement With Parameter Markers         #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
preparedStmt = None                             # Pointer To A Prepared SQL Statement
errorMsg = ""                                   # Detailed Error Information
recIndex = 0                                    # Records List Index
retCode = True                                  # Return Code

# Define The INSERT Statement To Be Used To Add Data To The EMPLOYEE Table
sqlStatement = "INSERT INTO employee"    # Insert Into The EMPLOYEE Table
sqlStatement += " VALUES(?,"             # The Parameter Marker For The EMPNO Column Value
sqlStatement += " ?,"                    # The Parameter Marker For The NAME Column Value
sqlStatement += " ?,"                    # The Parameter Marker For The HIREDATE Column Value
sqlStatement += " ?,"                    # The Parameter Marker For The TITLE Column Value
sqlStatement += " ?,"                    # The Parameter Marker For The DEPT Column Value
sqlStatement += " ?)"                    # And The Parameter Marker For The SALARY Column Value

# Prepare The INSERT Statement Just Defined By Calling The ibm_db.prepare() API
print("\nPreparing the following SQL statement for repetitive execution:\n\n" + sqlStatement)
try:
    preparedStmt = ibm_db.prepare(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to prepare the SQL statement specified.\n")
    pass

# If The SQL Statement Could Not Be Prepared, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if preparedStmt == None:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    print()

#----------------------------------------------------------------------------------------------#
# Generate The Data                                                                            #
#----------------------------------------------------------------------------------------------#

# Define And Initialize An EMPNO Column Values List
empNo = [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009]

# Define And Initialize A NAME Column Values List
empName = ['MARILYN MONROE', 'HUMPHREY BOGART', 'INGRID BERGMAN', 'JAMES CAGNEY']
empName += ['WILLIAM HOLDEN', 'JACK LEMMON', 'WALTER MATTHAU', 'KATHARINE HEPBURN']
empName += ['AVA GARDNER']

# Define And Initialize A HIREDATE Column Values List
hireDate = ['05/10/2014', '09/15/2012', '02/14/2011', '10/31/2012', '01/02/2020']
hireDate += ['07/04/2010', '10/12/2018', '03/15/2016', '06/06/2017']

# Define And Initialize A TITLE Column Values List
empTitle = ['ENGINEER', 'ANALYST', 'PROGRAMMER', 'TECHNICIAN', 'MANAGER']
empTitle += ['ANALYST', 'PROGRAMMER', 'MANAGER', 'TECHNICIAN']

# Define And Initialize A DEPT Column Values List
deptNo = ['B01', 'C01', 'C01', 'E01', 'F01', 'E01', 'D01', 'F01', 'B01']

# Define And Initialize A SALARY Column Values List
empSalary = [103675.00, 88192.00, 99475.50, 105787.00, 85428.50, 112515.00]
empSalary += [106943.50, 129081.50, 118903.00]

# Create A List Of Data Record Tuples, Using The Column Value Lists Just Defined
dataRecords = list(zip(empNo, empName, hireDate, empTitle, deptNo, empSalary))

# Display A Message Stating The Prepared Statement Is Being Executed
print("Executing the prepared SQL statement ... ", end="")

#----------------------------------------------------------------------------------------------#
# Populate The Table                                                                           #
#----------------------------------------------------------------------------------------------#

# As Long As There Are Data Record Tuples Available, ...
while recIndex < len(dataRecords):
  
    # Execute The INSERT Statement Prepared Earlier By Calling The ibm_db.execute() API
    # (Provide The Current Data Record Tuple As An Input Value)
    try:
        retCode = ibm_db.execute(preparedStmt, dataRecords[recIndex])
    except Exception:
        print("\nERROR: Unable to execute the prepared INSERT statement.\n")    
        pass
    
    # If The Prepared INSERT Statement Could Not Be Executed, Display A Detailed Error
    # Message And Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error
    # Information)
    if retCode == False:
        errorMsg = ibm_db.stmt_errormsg()
        print(errorMsg + "\n")
        exit(-1)   

    # Otherwise, Increment The Record Index
    else:
        recIndex = recIndex + 1
    
# Print "Done" And Display Another Section Divider Line
print("Done!\n")
print('*' * 100)
print()

#----------------------------------------------------------------------------------------------#
# Query The Table To Verify The Data Was Added                                                 #
#----------------------------------------------------------------------------------------------#

# Define The SELECT Statement That Is To Be Executed
sqlStatement = "SELECT * FROM employee"        # Retrieve All Data From The EMPLOYEE Table

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("EMPNO", "NAME", "HIREDATE", "TITLE", "DEPT", "SALARY")
columnWidths = (5, 18, 10, 15, 4, 10)

# Display A Header For The Query Results That Are About To Be Displayed 
print("Data stored in the EMPLOYEE table:")

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(1, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 6: Create a second table named DEPARTMENT and populate it
### Overview:
The next exercise uses both the <b>EMPLOYEE</b> table that was just populated and a second table named <b>DEPARTMENT</b>. Therefore, a table named <b>DEPARTMENT</b> needs to be created and populated.

### Execute the code:
The code in the next cell creates a table named <b>DEPARTMENT</b> and uses an <b>INSERT</b> statement with parameter markers to populate it. It then queries the table to verify the table exists and that <b>6</b> records have been added to it. 
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create A Table Named DEPARTMENT In The Database                                              #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
preparedStmt = None                             # Pointer To A Prepared SQL Statement
recIndex = 0                                    # Records List Index
retCode = True                                  # Return Code

# Define The CREATE TABLE Statement To Be Executed
sqlStatement = "CREATE TABLE department (" # Create A Table Named DEPARTMENT
sqlStatement += "code CHAR(3), "           # With A Column Named CODE That Accepts 3 Characters
sqlStatement += "desc VARCHAR(30)) "       # And A Column Named DESC That Accepts 30 Characters

# Execute The CREATE TABLE Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    print()
    
#----------------------------------------------------------------------------------------------#
# Create And Prepare An INSERT Statement With Parameter Markers                                #
#----------------------------------------------------------------------------------------------#
    
# Define The INSERT Statement To Be Used To Add Data To The DEPARTMENT Table
sqlStatement = "INSERT INTO department"    # Insert Into The DEPARTMENT Table
sqlStatement += " VALUES(?,"               # The Parameter Marker For The CODE Column Value
sqlStatement += " ?)"                      # And The Parameter Marker For The DESC Column Value

# Prepare The INSERT Statement Just Defined By Calling The ibm_db.prepare() API
print("Preparing the following SQL statement for repetitive execution:\n\n" + sqlStatement)
try:
    preparedStmt = ibm_db.prepare(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to prepare the SQL statement specified.\n")
    pass

# If The SQL Statement Could Not Be Prepared, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if preparedStmt == None:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    print()
    
#----------------------------------------------------------------------------------------------#
# Generate The Data And Populate The Table                                                     #
#----------------------------------------------------------------------------------------------#    
    
# Define And Initialize An CODE Column Values List
deptCode = ['A01', 'B01', 'C01', 'D01', 'E01', 'F01']

# Define And Initialize A DESC Column Values List
deptDesc = ['ADMINISTRATION', 'PLANNING', 'DEVELOPMENT', 'PERSONNEL', 'OPERATIONS', 'SUPPORT']

# Create A List Of Data Record Tuples, Using The Column Value Lists Just Defined
dataRecords = list(zip(deptCode, deptDesc))

# Display A Message Stating The Prepared Statement Is Being Executed
print("Executing the prepared SQL statement ... ", end="")

# As Long As There Are Data Record Tuples Available, ...
while recIndex < len(dataRecords):

    # Execute The INSERT Statement Prepared Earlier By Calling The ibm_db.execute() API
    # (Provide The Current Data Record Tuple As An Input Value)
    try:
        retCode = ibm_db.execute(preparedStmt, dataRecords[recIndex])
    except Exception:
        print("\nERROR: Unable to execute the prepared INSERT statement.\n")    
        pass
    
    # If The Prepared INSERT Statement Could Not Be Executed, Display A Detailed Error
    # Message And Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error
    # Information)
    if retCode == False:
        errorMsg = ibm_db.stmt_errormsg()
        print(errorMsg + "\n")
        exit(-1)   

    # Otherwise, Increment The Record Index
    else:
        recIndex = recIndex + 1
    
# Print "Done" And Display Another Section Divider Line
print("Done!\n")
print('*' * 100)
print()

#----------------------------------------------------------------------------------------------#
# Query The Table To Verify The Data Was Added                                                 #
#----------------------------------------------------------------------------------------------#

# Define The SELECT Statement That Is To Be Executed
sqlStatement = "SELECT * FROM department"        # Retrieve All Data From The DEPARTMENT Table

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("CODE", "DESC")
columnWidths = (4, 18)

# Display A Header For The Query Results That Are About To Be Displayed 
print("Data stored in the DEPARTMENT table:")

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(1, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 7: Create a view named EMP_DEPT
### Overview:
A <b><i>view</i></b> is a database object that is used to provide an alternative way of describing and displaying data stored in one or more tables. As with tables, views can be thought of as having columns and rows; unlike tables, views do not contain data. Instead, a view is essentially a named specification of a result table that is populated whenever the view is referenced. (Each time a view is referenced, a query is executed, and the results are retrieved from one or more underlying tables and returned in a table-like format.) The following illustration shows how a simple view that presents data from two different tables might look:
<br><br>
<div>
   <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/View.png" alt="View" style="display:block; margin-left:auto; margin-right:auto; width: 50%;"/>
   <br>
   <i>Figure 3: A view that presents data stored in two different tables</i>
   <br><br>
</div>

Because views look similar to tables, in most cases they can be referenced in the same way that tables can be referenced. That is, they can be the source of queries as well as the target of <b>INSERT</b>, <b>UPDATE</b>, and
<b>DELETE</b> operations. (<i>We will take a closer look at the </i><b>UPDATE</b><i> and </i><b>DELETE</b><i> statements shortly.</i>) When a view is the target of such an operation, the query that was used to define the view is executed and the operation is performed on the results — the operation itself is actually executed against the base table(s) the view is derived from. (If a view is derived from other views, the operation cascades down through all applicable views until it reaches the appropriate table/tables.)

It is important to note that a single base table can serve as the source of multiple views; the SQL query provided as part of a view’s definition determines the data that is to be presented when the view is referenced. Because of this, views are sometimes used to control access to sensitive data. For example, if a table contains information about
every employee who works for a company (including sensitive information like bank account numbers used for direct deposit), managers might access this table via a view that allows them to see only non-sensitive information about employees who report directly to them. Similarly, Human Resources personnel could be given access to the table by means of a view that lets them see only the information needed to generate employee paychecks. Because each set of users are given access to data through different views, they each see different presentations of data that resides in the same table.

Views are created by executing the <b>CREATE VIEW</b> SQL statement. In its simplest form, the syntax for this statement looks like this:

<b>CREATE VIEW [ <i>ViewName</i> ]<br>
&emsp;&lt; ( [ <i>ColumnName</i> ] , ... ) &gt;<br>
&emsp;AS [ <i>SELECTStmnt</i> ] <br></b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ViewName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the view that is to be created.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, one or more columns that are to be included in the view — if a list of column names is provided, the number of column names supplied must match the number of columns that will be returned by the <b>SELECT</b> statement used to create the view; otherwise, if a list of column names is not provided, the view will inherit the names assigned to the columns returned by the <b>SELECT</b> statement used.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>SELECTStmnt</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies a <b>SELECT</b> statement that, when executed, will produce the data values that are to be used to populate the view (by retrieving them from other tables and/or views).</td>
    </tr>
</table>

Therefore, to create a view named <b>LARGE_DEPTS</b> that references three specific columns found in a table named <b>DEPARTMENT</b>, you might execute a <b>CREATE VIEW</b> statement that looks something like this:

<code>CREATE VIEW large_depts
&emsp; AS SELECT (dept_no, dept_name, dept_size)
&emsp; FROM department
&emsp; WHERE dept_size > 25</code>

The resulting view will contain department number (<b>DEPT_NO</b>), department name (<b>DEPT_NAME</b>), and department size (<b>DEPT_SIZE</b>) information for every department that has more than 25 people assigned to it.

### Execute the code:
The code in the next cell builds a <b>CREATE VIEW</b> statement that references the <b>EMPLOYEE</b> and <b>DEPARTMENT</b> tables created earlier. It then executes the statement to create a view named <b>EMP_DEPT</b>. Next, it queries the system catalog to verify that the <b>EMP_DEPT</b> view exists. Finally, it executes a query that uses the <b>EMP_DEPT</b> view as a data source and displays the records retrieved.

<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create A View Named EMP_DEPT In The Database                                                 #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
recIndex = 0                                    # Records List Index
retCode = True                                  # Return Code

# Define The CREATE VIEW Statement To Be Executed
sqlStatement = "CREATE VIEW emp_dept"           # Create A View Named EMP_DEPT
sqlStatement += " (empno,"                      # That Has A Column Named EMPNO
sqlStatement += " name,"                        # And A Column Named NAME
sqlStatement += " department)"                  # And A Column Named DEPARTMENT
sqlStatement += " AS SELECT"                    # Using A SELECT Statement
sqlStatement += " e.empno,"                     # That Retrieves Data From The EMPNO Column
sqlStatement += " e.name,"                      # And The NAME Column
sqlStatement += " d.desc"                       # And The DESCRIPTION Column
sqlStatement += " FROM employee AS e,"          # Found In The EMPLOYEE Table (Referenced As E)
sqlStatement += " DEPARTMENT AS d"              # And The DEPARTMENT Table (Referenced As D)
sqlStatement += " WHERE e.dept = d.code"        # Where Values In The DEPT Column Of The EMPLOYEE
                                                #   Table Match The Values Of The CODE Column Of
                                                #   The DEPARTMENT Table

# Execute The CREATE VIEW Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
      
#----------------------------------------------------------------------------------------------#
# Retrieve Information About The EMP_DEPT View From The System Catalog                         #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("TABNAME", "COLCOUNT")
columnWidths = (12, 11)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TYPE = 'V'"             # Where The TYPE Column Value Indicates VIEW
sqlStatement += " AND TABSCHEMA"                # And The Schema Name
sqlStatement += " NOT LIKE 'SYS%'"              # Does NOT Start With 'SYS'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Print A Blank Line And Display Another
# Section Divider Line
if retCode == True:
    print()
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Query The EMP_DEPTS View To See Its Records                                                  #
#----------------------------------------------------------------------------------------------#

# Define The SQL Statement That Is To Be Executed
sqlStatement = "SELECT * FROM emp_dept"    # Retrieve All Data From The EMP_DEPT View

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("EMPNO", "NAME", "DEPARTMENT")
columnWidths = (6, 18, 20)

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 8: Change a record in the EMPLOYEE table
### Overview:
Data in a database is rarely static. Over time, the need to change or remove one or more values stored in a table can, and will, arise. This is where the <b>UPDATE</b> statement comes into play — once a table has been created and populated, any of the data values stored in it can be modified by executing this statement. The basic syntax for the <b>UPDATE</b> statement is:

<b>UPDATE [ <i>TableName</i> | <i>ViewName</i>]<br>
&emsp;SET [ <i>ColumnName</i> ] = [ <i>Value</i> | NULL | DEFAULT] , ... ]<br>
&emsp;&lt; WHERE [<i>Condition</i>] &gt;</b>

or

<b>UPDATE [ <i>TableName</i> | <i>ViewName</i> ]<br>
&emsp;SET ( [<i>ColumnName</i>] , ... ) =<br>
&emsp;( [<i>Value</i> | NULL | DEFAULT] , ... )<br>
&emsp;&lt; WHERE [ <i>Condition</i> ] &gt;</b>

where:

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, the table that contains the data that is to be modified; this can be any type of table <i><u>except</u></i> a system catalog table or a system-maintained materialized query table (MQT).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ViewName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, the view data that contains the data that is to be modified; this can be any type of view <i><u>except</u></i> a system catalog view or a read-only view.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, one or more columns that contain data that is to be modified; each column name provided must identify an existing column in the table or view specified.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Value</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies one or more data values that are to be used to replace existing values for the <b><i>ColumnName</i></b>(s) specified.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Condition</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the search criterion, in the form of a <b>WHERE</b> clause, that is to be used to locate one or more specific rows whose data values are to be modified.</td>
    </tr>
</table>

<div class="alert alert-block alert-success">
    <b>NOTE:</b> In most cases, an appropriate <b>WHERE</b> clause and <i>Condition</i> should be provided with an <b>UPDATE</b> statement. Otherwise, the update operation specified will be performed against <i><u>every record</i></u> in the table or view referenced.
</div>

Thus, to change the records stored in the <b>EMPLOYEE</b> table created earlier such that the <b>SALARY</b> of every employee with the title of <b>ANALYST</b> is increased by <b>6%</b>, you would execute an <b>UPDATE</b> statement that looks like this:

<code>UPDATE employee
&emsp; SET salary = salary * 1.06
&emsp; WHERE title = 'ANALYST'</code>

In addition to providing a way to change existing data values, the <b>UPDATE</b> statement can also be used to remove data stored in one or more columns that are nullable (by changing the existing data value to NULL). For example, to delete the values assigned to the <b>DEPT</b> column of every record found in the <b>EMPLOYEE</b> table created earlier, you could execute an <b>UPDATE</b> statement that looks like this:

<code>UPDATE employee
&emsp; SET dept = NULL</code>

<div class="alert alert-block alert-info">
    <b>NOTE:</b> Unlike other database management systems, Db2 is intelligent enough to know whether an <b>UPDATE</b> operation actually changes a record's data. If an <b>UPDATE</b> statement is executed, but no changes are actually made, Db2 will not log the operation or attempt to write the record to disk. In fact, it's possible to determine just how many unchanged <b>UPDATE</b> operations have been performed against a table by examining the <b>NO_CHANGE_UPDATES</b> information provided by the <b>MON_GET_TABLE( )</b> monitoring function.
</div>

### Execute the code:
The code in the next cell retrieves and displays a record from the <b>EMPLOYEE</b> table created earlier, modifies the record by executing an <b>UPDATE</b> statement, and then retrieves and displays the record again to verify that the changes desired were made.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Update A Record That Was Added To The EMPLOYEE Table Created Earlier                         #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table To See What A Specific Record Looks Like Before It Is Updated       #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The "Before Update" Record Values Are Being Displayed
print("\nRECORD BEFORE THE UPDATE OPERATION")
print()

# Define The SQL Statement That Is To Be Executed
sqlStatement = "SELECT * FROM employee"    # Retrieve All Data From The EMPLOYEE Table
sqlStatement += " WHERE empno = 1008"      # For The Record With An EMPNO Value Of 1008

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("EMPNO", "NAME", "HIREDATE", "TITLE", "DEPT", "SALARY")
columnWidths = (5, 18, 10, 15, 4, 10)

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(2, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print() 
    
# Display A Section Divider Line
print('*' * 100)
print()

#----------------------------------------------------------------------------------------------#
# Update A Record In The EMPLOYEE Table                                                        #
#----------------------------------------------------------------------------------------------#

# Define The UPDATE Statement That Will Be Used To Modify A Record In The EMPLOYEE Table
sqlStatement = "UPDATE employee"           # Change A Record In The EMPLOYEE Table
sqlStatement += " SET"                     # As Specified:
sqlStatement += " title = 'SR. MANAGER',"  # Change The TITLE Column Value To 'SR. MANAGER'
sqlStatement += " salary = salary * 1.10"  # And Raise The SALARY Column Value By 10%
sqlStatement += " WHERE empno = 1008"      # For The Employee With The EMPNO Value Of 1008

# Execute The SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    print()
    
#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table Again To Verify The Appropriate Updates Were Made                   #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The "After Update" Record Values Are Being Displayed
print("RECORD AFTER THE UPDATE OPERATION")
print()

# Define The SQL Statement That Is To Be Executed
sqlStatement = "SELECT * FROM employee"    # Retrieve All Data From The EMPLOYEE Table
sqlStatement += " WHERE empno = 1008"      # For The Record With The EMPNO Value Of 1008

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(2, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 9: Remove records from the EMPLOYEE table
### Overview:
While the <b>UPDATE</b> statement can be used to remove values from individual columns (by replacing those values with NULL), it cannot be used to remove records. To remove one or more records from a table or view, the <b>DELETE</b> statement must be used instead. The basic syntax for this statement is:

<b>DELETE FROM [ <i>TableName</i> | <i>ViewName</i> ]<br>
&emsp;&lt; WHERE [ <i>Condition</i> ] &gt;</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, the table that contains the data that is to be deleted; this can be any type of table <i><u>except</u></i> a system catalog table or a system-maintained materialized query table (MQT).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ViewName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, the view data that contains the data that is to be deleted; this can be any type of view <i><u>except</u></i> a system catalog view or a read-only view.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Condition</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the search criterion, in the form of a <b>WHERE</b> clause, that is to be used to locate one or more specific rows whose data values are to be deleted.</td>
    </tr>
</table>

<div class="alert alert-block alert-success">
    <b>NOTE:</b> In most cases, an appropriate <b>WHERE</b> clause and <i>Condition</i> should be provided with a <b>DELETE</b> statement. Otherwise, <i><u>every record</u></i> stored in the table or view referenced will be removed (resulting in one or more empty tables).
</div>

Thus, to remove records stored in the <b>EMPLOYEE</b> table created earlier that are associated with employees who were hired before <b>January 1, 2015</b>, you would execute a <b>DELETE</b> statement that looks like this:

<code>DELETE FROM employee
&emsp; WHERE hiredate &lt; '12/31/2014'</code>
    
### Execute the code:
The code in the next cell retrieves and displays all of the records stored in the <b>EMPLOYEE</b> table created earlier, deletes some of these records by executing a <b>DELETE</b> statement, and then retrieves and displays the records again to verify the appropriate records were deleted.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Delete Records From The EMPLOYEE Table Created Earlier                                       #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table To See All OF The Records It Contains Before Some Are Deleted       #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The "Before Update" Record Values Are Being Displayed
print("\nRECORDS BEFORE THE DELETE OPERATION")
print()

# Define The SQL Statement That Is To Be Executed
sqlStatement = "SELECT * FROM employee"    # Retrieve All Data From The EMPLOYEE Table

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("EMPNO", "NAME", "HIREDATE", "TITLE", "DEPT", "SALARY")
columnWidths = (5, 18, 12, 15, 4, 10)

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(1, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print() 
    
# Display A Section Divider Line
print('*' * 100)
print()

#----------------------------------------------------------------------------------------------#
# Delete Select Records From The EMPLOYEE Table                                                #
#----------------------------------------------------------------------------------------------#

# Define The DELETE Statement That Will Be Used To Remove Records From The EMPLOYEE Table
sqlStatement = "DELETE FROM employee"       # Remove The Record From The EMPLOYEE Table
sqlStatement += " WHERE dept = 'E01'"       # For All Employees Who Are In Department E01

# Execute The SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table Again To Verify The Appropriate Records Were Deleted                #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The "Before Update" Record Values Are Being Displayed
print("\nRECORDS AFTER THE DELETE OPERATION")
print()

# Define The SQL Statement That Is To Be Executed
sqlStatement = "SELECT * FROM employee"    # Retrieve All Data From The EMPLOYEE Table

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(1, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 10: Create the tables that are used by the Db2 Explain facility
### Overview:
When an SQL or XQuery statement is submitted to Db2 for processing, Db2's cost-based query optimizer analyzes it and generates several execution plans (known as <i>access plans</i>) that could potentially be used to perform the desired operation. It then estimates the execution cost of each plan and chooses the access plan that has the lowest anticipated cost.

If a static SQL or XQuery statement is embedded in an application, the optimal access plan is chosen at precompile time (or at bind time if deferred binding is used), and an executable form of this plan is stored in the system catalog as an object known as a <i><b>package</b></i>. If however, a dynamic statement is constructed at application run time (which is the case with all of the SQL statements used in this lab), access plans are generated when the statement is prepared for execution and the access plan chosen is stored in memory, temporarily (in what is known as the <i>global package cache</i>).

While Db2 provides several monitoring tools that can be used to obtain information about how well (or how poorly) some SQL operations perform, these tools cannot be used to examine the access plans that were chosen by the Db2 query optimizer. Enter the <b>Db2 Explain facility</b>. The Db2 Explain facility enables users to capture and display detailed information about the access plan that was chosen for a particular SQL or XQuery statement, together with performance information that can be used to identify poorly written statements and/or weaknesses in a database's design. More specifically, Explain data helps users understand exactly how Db2 accesses tables and indexes to get to data. (<i>We will take a closer look at indexes shortly.</i>)

Before the Db2 Explain facility can be utilized, a special set of tables known as <i>Explain tables</i> must first be created. Typically, Explain tables are created in "development" databases to aid in application design, but
not in "production" databases, where application code remains fairly static. Consequently, Explain tables are
not created with the system catalog tables and views during the database creation process. Instead, these tables must be created manually in the database that Explain operations will be performed against. Fortunately, the process of creating Explain tables is fairly straightforward; one way is by calling the <b>SYSPROC.SYSINSTALLOBJECTS( )</b> stored procedure. (<i>We will take a closer look at stored procedures a little later.</i>)

The <b>SYSPROC.SYSINSTALLOBJECTS( )</b> procedure is used to create or drop the database objects that are required by a specific Db2 tool. The SQL syntax used to execute this procedure is:

<b>CALL SYSPROC.SYSINSTALLOBJECTS ( [ <i>ToolName</i> ], [ <i>Action</i> ], [ <i>TablespaceName</i> ], [ <i>SchemaName</i> ] )</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ToolName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies the name of the tool that database objects are to be created or deleted for. Valid values include:<br>
            <ul>
                <li><b>'DB2AC'</b> (for autonomous computing/the Db2 health monitor)</li>
                <li><b>'STMG_DBSIZE_INFO'</b> (for storage management)</li>
                <li><b>'OPT_PROFILES'</b> (for optimization profiles)</li>
                <li><b>'POLICY'</b> (for policy management)</li>
                <li><b>'EXPLAIN'</b> (for the Explain facility)</li>
                <li><b>'INGEST'</b> (for the ingest utility)</li>
                <li><b>'REPL_MQT'</b> (for shadow table replication)</li>
            </ul>
        </td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Action</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Specifies the action that is to be taken with the required objects. Valid values include:<br>
            <ul>
                <li><b>'C'</b> (create objects)</li>
                <li><b>'D'</b> (drop/delete objects)</li>
                <li><b>'V'</b> (verify objects)</li>
                <li><b>'M'</b> (migrate objects — this option indicates that Explain tables created with Db2 Version 7 or later are to be made compatible with the current Db2 version and is only valid when the <b><i>ToolName</i></b> parameter is set to <b>'EXPLAIN'</b>)</li>
            </ul>
        </td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TablespaceName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the table space in which the database objects are to be created. (In most cases, the table space named <b>SYSTOOLSPACE</b> is used).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>SchemaName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the schema in which the database objects are to be created. (In most cases, the schema name <b>SYSTOOLS</b> is used.)</td>
    </tr>
</table>

Thus, to create the database objects required for the Explain facility (i.e., the Explain tables) using the default table space and schema, you would execute an SQL statement that looks like this:

<code>CALL SYSPROC.SYSINSTALLOBJECTS ('EXPLAIN', 'C', CAST (NULL AS VARCHAR(128)), CAST (NULL AS VARCHAR(128)))</code>

### Execute the code:
The code in the next cell creates the Explain tables by calling the <b>SYSPROC.SYSINSTALLOBJECTS( )</b> stored procedure. It then queries the system catalog to verify that the Explain tables were successfully created.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>
<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> The ability to create Explain tables is not available with the <b>Db2 "Lite" service</b> on IBM Cloud. Consequently, this step can <b><i><u>ONLY</u></i></b> be performed if <b>IBM Db2 Community Edition</b> (or another on-premises Edition of Db2) is being used for this lab.
<br><br>
If you attempt to perform this step with a Db2 On Cloud database, <b>IT WILL FAIL!</b>
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create The Tables That Are Required For The Db2 Explain Facility                             #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information

# Define The SQL Statement That Will Be Used To Create The Db2 Explain Tables
sqlStatement = "CALL SYSPROC.SYSINSTALLOBJECTS(" # Call The SYSINSTALLOBJECTS() Procedure And
sqlStatement += "'EXPLAIN',"                     # Indicate Objects For The Explain Facility
sqlStatement += "'C',"                           # Need To Be Installed
sqlStatement += "CAST (NULL AS VARCHAR(128)),"   # In The Default Table Space
sqlStatement += "CAST (NULL AS VARCHAR(128)))"   # Using The Default Schema Name

# Execute The SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Retrieve Information About The Explain Tables From The System Catalog                        #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("TABSCHEMA", "TABNAME")        # Result Set Column Headers Tuple
columnWidths = (12, 24)                         # Result Set Column Widths Tuple

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABSCHEMA, TABNAME"      # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TABSCHEMA"              # Where The Schema Name
sqlStatement += " = 'SYSTOOLS'"                 # Is 'SYSTOOLS'
sqlStatement += " AND TABNAME"                  # And The Table Name
sqlStatement += " NOT LIKE 'HMON%'"             # Does NOT Start With 'HMON'
sqlStatement += " AND TABNAME"                  # And The Table Name
sqlStatement += " NOT LIKE 'POLICY'"            # Does NOT Start With 'POLICY'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 11: Collect Explain data for a simple query
### Overview:
The Explain facility consists of several different tools, and not all tools require the same type of data. As a result, two different types of Explain data can be collected:
<ul>
    <li><b>Comprehensive Explain data</b>: Consists of detailed information about a specific SQL or XQuery statement access plan, such as:</li>
    <ul>
        <li>The sequence of operations that were used to process the query</li>
        <li>Cost information</li>
        <li>Query predicates and selectivity estimates for each predicate</li>
        <li>Statistics for all objects that were referenced in the SQL or XQuery statement at the time the explain information was captured</li>
        <li>Values for host variables, parameter markers, or special registers that were used to re-optimize the SQL or XQuery statement</li>
    </ul><br>
        This information is stored across many of the Explain tables available.<br><br>
    <li><b>Explain snapshot data</b>: Contains the current internal representation of an SQL or XQuery
        statement, along with any related information. This information is stored in the <b>SNAPSHOT</b> column of the <b>EXPLAIN_STATEMENT</b> Explain table.</li>
</ul>

One way to collect both comprehensive Explain information and Explain snapshot data for a single, dynamic SQL or XQuery statement is by executing the <b>EXPLAIN</b> SQL statement. The basic syntax for this statement is:

<b>EXPLAIN [ ALL | PLAN | PLAN SECTION ]<br>
&emsp;&lt; [ FOR | WITH ] SNAPSHOT &gt;<br>
&emsp;FOR &lt; XQUERY > [ <i>ExplainableStmt</i> ]</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ExplainableStmt</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies the "explainable" SQL or XQuery statement that comprehensive Explain and/or Explain snapshot data is to be collected for. An explainable statement can be either be a valid XQuery statement or one of the following SQL statements:<br>
            <ul>
                <li><b>SELECT</b></li>
                <li><b>SELECT INTO</b></li>
                <li><b>INSERT</b></li>
                <li><b>UPDATE</b></li>
                <li><b>DELETE</b></li>
                <li><b>CALL</b></li>
                <li><b>MERGE</b></li>
                <li><b>REFRESH</b></li>
                <li><b>VALUES</b></li>
                <li><b>VALUES INTO</b></li>
                <li><b>SET INTEGRITY</b></li>
                <li><b>Compound SQL (Dynamic)</b>, which is a sequence of individual SQL statements enclosed by <b>BEGIN</b> and <b>END</b> keywords.</li>
            </ul>
        </td>
    </tr>
</table>

If the <b>FOR SNAPSHOT</b> option is used, only Explain snapshot information will be collected for the SQL or XQuery statement specified. If the <b>WITH SNAPSHOT</b> option is used instead, both comprehensive Explain data and Explain snapshot information will be collected for the SQL or XQuery statement specified. And if neither option is specified, only comprehensive Explain data will be collected — Explain snapshot data is not captured. If the <b>XQUERY</b> option is specified, it is implied that the statement provided for the <b><i>ExplainableStmt</i></b> parameter is an XQuery statement. Otherwise, it is assumed that the statement provided is one of the explainable SQL statements supported.

Thus, if you wanted to collect <i>just</i> comprehensive Explain data for the SQL statement <b>SELECT * FROM department</b>, you could execute an <b>EXPLAIN</b> statement that looks like this:

<code>EXPLAIN ALL FOR SELECT * FROM department</code>

On the other hand, if you wanted to collect <i>only</i> Explain snapshot data for the same SQL statement, you would execute an <b>EXPLAIN</b> statement that looks more like this:

<code>EXPLAIN ALL FOR SNAPSHOT FOR SELECT * FROM department</code>

And finally, if you wanted to collect both comprehensive Explain data and Explain snapshot information for the same SQL statement (<b>SELECT * FROM department</b>), you would execute an <b>EXPLAIN</b> statement that looks like this:

<code>EXPLAIN ALL WITH SNAPSHOT FOR SELECT * FROM department</code>
        
It is important to note that the <b>EXPLAIN</b> statement does NOT actually execute the SQL statement specified, nor does it display the Explain information collected — you must use other Explain facility tools or query the Explain tables to see this information.

### Execute the code:
The code in the next cell creates the Explain tables by calling the <b>SYSPROC.SYSINSTALLOBJECTS( )</b> stored procedure. It then queries the system catalog to verify that the Explain tables were successfully created.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> The ability to generate Explain data and query Explain tables is not available with the <b>Db2 "Lite" service</b> on IBM Cloud. Consequently, this step can <b><i><u>ONLY</u></i></b> be performed if <b>IBM Db2 Community Edition</b> (or another on-premises Edition of Db2) is being used for this lab.
<br><br>
If you attempt to perform this step with a Db2 On Cloud database, <b>IT WILL FAIL!</b>
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Get Query Execution Time Information From The EXPLAIN_STATEMENT Explain Table                #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

# Define The EXPLAIN SQL Statement To Be Executed
sqlStatement = "EXPLAIN ALL FOR"                # Generate Comprehensive Explain Data
sqlStatement += " SELECT empno, name"           # For The SQL Statement "SELECT empno, name
sqlStatement += " FROM employee"                # FROM employee"

# Execute The EXPLAIN SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Retrieve Information From The EXPLAIN_TIME Explain Table That Was Generated When The EXPLAIN #
# SQL Statement Was Executed                                                                   #
#----------------------------------------------------------------------------------------------#
    
# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("STATEMENT_TEXT", "EXPLAIN_TIME", "TOTAL_COST (Timerons)")
columnWidths = (75, 12, 21)
    
# Define The SQL Statement To Be Executed
sqlStatement = "SELECT STATEMENT_TEXT,"               # Retrieve The Data Stored In This Column,
sqlStatement += " TIME(EXPLAIN_TIME),"                # And This Column (Without The Date)
sqlStatement += " CAST(TOTAL_COST AS DECIMAL(8, 4))"  # And This Column (Cast As A Decimal Value)
sqlStatement += " FROM SYSTOOLS.EXPLAIN_STATEMENT"    # From The SYSTOOLS.EXPLAIN_STATEMENT Table
sqlStatement += " WHERE TOTAL_COST <> 0"              # Where TOTAL_COST Does NOT Equal 0 (Which
                                                      #  Indicates No Access Plan Has Been 
                                                      #  Chosen Yet)

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(2, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 12: Create an index named EMP_IDX
### Overview:
An <b><i>index</i></b> is an object that contains pointers to rows (in a table) that are logically ordered according to the values of one or more columns (known as </i>key columns</i> or </i>keys</i>). Indexes are important because:
<ul>
    <li>They provide a fast, efficient method for locating specific rows of data in large tables</li>
    <li>They provide a logical ordering of the rows in a table</li>
    <li>They can enforce the uniqueness of records in a table</li>
    <li>They can force a table to use <i>clustering</i> storage, which causes the rows of a table to be physically arranged according to the ordering of their key column values</li>
</ul>
The following illustration shows the structure of a simple index, along with its relationship to the table it derives its data from.
<br><br>
<div>
   <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/Index.png" alt="Index" style="display:block; margin-left:auto; margin-right:auto; width: 50%;"/>
   <br>
   <i>Figure 4: A simple index that has a one-column key</i>
   <br><br>
</div>

Although some indexes are created automatically to support a table’s definition (for example, to enforce unique and primary key constraints), indexes are typically created explicitly using the <b>CREATE INDEX</b> SQL statement. The basic syntax for this statement is:

<b>CREATE &lt; UNIQUE &gt; INDEX [ <i>IndexName</i> ]<br>
&emsp;ON [ <i>TableName</i> ] ( [ <i>PriColumnName</i> ] &lt; ASC | DESC > , ... ) &gt;<br>
&emsp;&lt; INCLUDE ( [ <i>SecColumnName</i> ] , ... ) &gt;</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>IndexName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the index that is to be created.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TableName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the table the index is to be created for (and associated with).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>PriColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies, by name, one or more primary columns that are to be part of the key for the index — if the index is a unique index, the combined values of each primary column specified will be used to enforce data uniqueness in the associated table.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>SecColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, one or more secondary columns whose values are to be stored with the values of the primary columns, but that are not part of the index key — if the index is a unique index, the values of each secondary column specified will not be used to enforce data uniqueness.</td>
    </tr>
</table>

If the <b>INCLUDE</b> clause is specified with the <b>CREATE INDEX</b> statement used, data from the secondary columns specified will be appended to the index’s key values. By storing this information in the index (along with key values), the performance of some queries can be greatly improved. That's because if all the data needed to resolve a query can be obtained by accessing the index only, data does not have to be retrieved from the associated table. (If the data needed to resolve a query does not reside solely in an index, both the index and the associated table must be accessed.)

If the <b>UNIQUE</b> clause is specified with the <b>CREATE INDEX</b> statement used, the resulting index will be a unique index that will be used to ensure the associated table does not contain duplicate occurrences of the same values in the columns that make up the index key. If the table the index is to be created for already contains
data, uniqueness is checked and enforced at the time Db2 attempts to create the index, and if records with duplicate index key values are found, the index will not be created. On the other hand, if no duplicates exist, the index will be created and uniqueness will be enforced when <b>INSERT</b> and <b>UPDATE</b> operations are performed against the associated table. (Any time that the uniqueness of the index key is compromised, the insert or update operation will fail and an error will be generated.)

<div class="alert alert-block alert-success">
    <b>NOTE:</b> If the <b>INCLUDE</b> clause is specified with the <b>CREATE INDEX</b> statement used, the <b>UNIQUE</b> clause must also be provided.
</div>

Thus, to create an index named <b>EMPNO_IDX</b> for a table named <b>EMPLOYEES</b> whose key consists of a column named <b>EMPNO</b> and that includes data from a column named <b>LASTNAME</b>, you would execute a <b>CREATE INDEX</b> statement that looks something like this:

<code>CREATE UNIQUE INDEX empno_idx
&emsp; ON employees(empno) 
&emsp; INCLUDE (lastname)</code>

A single table can contain a significant number of indexes; however, every index comes at a price. Because indexes store key column and row pointer data, additional storage space is needed for every index used. Furthermore, write performance is negatively affected — each time an <b>INSERT</b>, <b>UPDATE</b>, or <b>DELETE</b> operation is performed against a table with indexes, every table affected must be updated as well to reflect the changes made. Therefore, indexes should be created only when there is a clear performance advantage to having them available.

Indexes are typically used to improve query performance. So, tables that are used for data mining, business intelligence, data warehousing, and by applications that execute many (and often complex) queries but rarely modify data are prime candidates for indexes. Conversely, tables in online transaction processing (OLTP)
environments or environments where data throughput is high should use indexes sparingly.


### Execute the code:
The code in the next cell builds a <b>CREATE INDEX</b> statement and executes it to create an index named <b>EMP_IDX</b>. It then queries the system catalog to verify that the <b>EMP_IDX</b> index exists.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create An Index Named EMP_IDX In The Connected Db2 Database                                  #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
columnHeaders = ("INDNAME", "TABNAME")          # Result Set Column Headers Tuple
columnWidths = (10, 12)                         # Result Set Column Widths Tuple
retCode = True                                  # Return Code

# Define The CREATE INDEX Statement To Be Executed
sqlStatement = "CREATE UNIQUE INDEX emp_idx"    # Create An Index Named EMP_IDX
sqlStatement += " ON employee"                  # For The Table Named EMPLOYEE
sqlStatement += " (empno)"                      # Make The Column Named EMPNO The Index Key
sqlStatement += " INCLUDE (name)"               # And Include Data From The Column Named NAME

# Execute The CREATE INDEX Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    print()
    
#----------------------------------------------------------------------------------------------#
# Retrieve Information About The EMP_IDX Index From The System Catalog                         #
#----------------------------------------------------------------------------------------------#

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT INDNAME, TABNAME"        # Retrieve The Data Stored In These Columns,
sqlStatement += " FROM SYSCAT.INDEXES"          # From The SYSCAT.INDEXES View,
sqlStatement += " WHERE INDNAME = 'EMP_IDX'"    # For An Index Named 'EMP_IDX'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 13: Generate Explain data for the simple query again to see if the new index improves query performance
### Overview:
Now that we have created an index named <b>EMP_IDX</b> for the <b>EMPLOYEE</b> table, let's capture Explain data for the query "<b>SELECT empno, name FROM employee</b>" again to see if the index will improve help performance.

### Execute the code:
The code in the next cell executes the <b>EXPLAIN</b> SQL statement that was used earlier to generate Explain data for the query "<b>SELECT empno, name FROM employee</b>". It then retrieves information from the <b>EXPLAIN_STATEMENT</b> Explain table again to see if the cost of the access plan chosen by the Db2 query optimizer is lower.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> The ability to generate Explain data and query Explain tables is not available with the <b>Db2 "Lite" service</b> on IBM Cloud. Consequently, this step can <b><i><u>ONLY</u></i></b> be performed if <b>IBM Db2 Community Edition</b> (or another on-premises Edition of Db2) is being used for this lab.
<br><br>
If you attempt to perform this step with a Db2 On Cloud database, <b>IT WILL FAIL!</b> That said, if you <i>were</i> to run the code in the next cell, the output produced would look something like the output shown below.
<br>
</div>
<code style="background-color: #FFFFFF;">
Executing the following SQL statement:<br>
EXPLAIN ALL FOR SELECT empno, name FROM employee<br>
Done!<br>
&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;&ast;<br>
STATEMENT_TEXT&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;EXPLAIN_TIME&emsp;&emsp;TOTAL_COST (Timerons)
&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&emsp;&emsp;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&emsp;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;&#8209;
SELECT Q1.EMPNO AS "EMPNO", Q1.NAME AS "NAME" FROM DB2INST1.EMPLOYEE AS Q1&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;11:12:03&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;6.7761
SELECT Q1.EMPNO AS "EMPNO", Q1.NAME AS "NAME" FROM DB2INST1.EMPLOYEE AS Q1&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;11:12:41&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;0.0090<br>
NOTE: The record with the earliest EXPLAIN_TIME value is associated with the access plan that was generated
&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<b>before</b> the EMP_IDX index was created; the record with the most recent EXPLAIN_TIME value is associated
&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;with the access plan that was generated <b>after</b> the EMP_IDX index was created.</code>
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Get Query Execution Time Information From The EXPLAIN_STATEMENT Explain Table                #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

# Define The EXPLAIN SQL Statement To Be Executed
sqlStatement = "EXPLAIN ALL FOR"                # Generate Comprehensive Explain Data
sqlStatement += " SELECT empno, name"           # For The SQL Statement "SELECT empno, name
sqlStatement += " FROM employee"                # FROM employee"

# Execute The EXPLAIN SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Retrieve Information From The EXPLAIN_TIME Explain Table That Was Generated When The EXPLAIN #
# SQL Statement Was Executed                                                                   #
#----------------------------------------------------------------------------------------------#

# Initialize The Column Headers Tuple 
columnHeaders = ("STATEMENT_TEXT", "EXPLAIN_TIME", "TOTAL_COST (Timerons)")

# Initialize The Column Widths Tuple 
columnWidths = (75, 12, 21)
    
# Define The SQL Statement To Be Executed
sqlStatement = "SELECT STATEMENT_TEXT,"               # Retrieve The Data Stored In This Column,
sqlStatement += " TIME(EXPLAIN_TIME),"                # And This Column (Without The Date)
sqlStatement += " CAST(TOTAL_COST AS DECIMAL(8, 4))"  # And This Column (Cast As A Decimal Value)
sqlStatement += " FROM SYSTOOLS.EXPLAIN_STATEMENT"    # From The SYSTOOLS.EXPLAIN_STATEMENT Table
sqlStatement += " WHERE TOTAL_COST <> 0"              # Where TOTAL_COST Does NOT Equal 0 (Which
                                                      #  Indicates No Access Plan Has Been 
                                                      #  Chosen Yet)

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(2, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
# And A Message Stating That The EXPLAIN_TIME Value Indicates The "Before" And "After" Index
# Explain Time Values
if retCode == True:
    print()
    print("NOTE: The record with the earliest EXPLAIN_TIME value is associated with ", end="")
    print("the access plan that was generated\n     \033[1m before\33[0m the ", end="")
    print("EMP_IDX index was created; the record with the most recent EXPLAIN_TIME ", end="")
    print("value is associated\n      with the access plan that was generated", end="")
    print("\033[1m after\033[0m the EMP_IDX index was created.\n")

## Step 14: Roll back and commit a transaction
### Overview:
A <b><i>transaction</i></b> (also known as a <i>unit of work</i>) is a sequence of one or more SQL operations that are grouped together as a single unit, usually within an application process. Such units are considered atomic (from the Greek word meaning “not able to be cut”) because they are indivisible — either all of a transaction’s work is carried out, or none of its work is done.

A given transaction can perform any number of SQL operations, depending upon what is considered a single step within a company’s business logic. With that said, it is important to note that the longer a transaction is — that is, the more SQL operations a transaction performs — the more problematic it can be to manage. This is especially true if multiple transactions must run concurrently.

The initiation and termination of a single transaction defines points of consistency within a Db2 database. Consequently, either the effects of all operations performed within a transaction are applied to the database and made permanent (i.e. <i>committed</i>), or they are backed out (<i>rolled back</i>) and the database is returned to the state it was in immediately before the transaction was started.

Normally, a transaction is initiated the first time an SQL statement is executed after a connection to a database has been established, or when an SQL statement is executed after a running transaction has ended. Once started, transactions can be implicitly committed using a feature known as </i>automatic commit</i> (in which case, each executable SQL statement is treated as a single transaction, and changes made by that statement are automatically applied to the database unless the statement fails to execute successfully). Or, they can be explicitly terminated by executing either the <b>COMMIT</b> or the <b>ROLLBACK</b> SQL statement. The basic syntax for these two statements is:

<b>COMMIT &lt; WORK &gt;</b>

or

<b>ROLLBACK &lt; WORK &gt;</b>

When the <b>COMMIT</b> statement is used to terminate a transaction, all changes made to the database since the transaction began are made permanent. When the <b>ROLLBACK</b> statement is used instead, all changes made are backed out, and the database is returned to the state it was in just before the transaction was started.

Uncommitted changes made by a transaction are usually inaccessible to other users and applications (there are exceptions) and can be backed out at any time. However, once a transaction’s changes have been committed, they become accessible to <i><u>all</u></i> users and applications and the only way to remove the changes made is by performing an <b>UPDATE</b> or <b>DELETE</b> operation.
    
With Python and Jupyter Notebook, the <b>ibm_db.commit( )</b> and <b>ibm_db.rollback( )</b> application programming interfaces (APIs) in the <b>ibm_db</b> library can be used to terminate transactions. These APIs eliminate the need to prepare and execute <b>COMMIT</b> and/or <b>ROLLBACK</b> SQL statements. In addition, the <b>ibm_db.autocommit( )</b> API can be used to determine if automatic commit behavior is enabled or disabled, as well as turn this behavior <b>ON</b> or <b>OFF</b>.
   
### Execute the code:
The code in the next cell executes the <b>ibm_db.autocommit( )</b> API to determine whether automatic commit behavior is <b>ON</b> or <b>OFF</b> — if this behavior is <b>ON</b>, the <b>ibm_db.autocommit( )</b> API is executed again to turn it <b>OFF</b>. Then, the code builds and executes an <b>INSERT</b> statement that adds a record to the <b>EMPLOYEE</b> table created earlier and queries the table to verify the record was added — it can see the record because it owns the transaction that performed the <b>INSERT</b> operation. However, in most cases (there are exceptions), other applications will <b>NOT</b> be able to see the record until the transaction is committed.
    
After verifying the record was added, the code executes the <b>ibm_db.rollback( )</b> API to back out the change made by the <b>INSERT</b> operation (transaction). Then, it queries the <b>EMPLOYEE</b> table again to confirm the record no longer exists. Next, it executes the <b>INSERT</b> statement once more and executes the <b>ibm_db.commit( )</b> API to end the transaction and make the change permanent. Then, it queries the <b>EMPLOYEE</b> table again to verify the record exists. Finally, it executes the <b>ibm_db.autocommit( )</b> API once more to turn automatic commit behavior <b>ON</b>.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs. (<i>There are a lot of different actions taking place in this example, so please review the code carefully.</i>)</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Control AUTOCOMMIT Behavior And Manage Transactions                                          #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
insertStatement = ""                            # SQL INSERT Statement
queryStatement = ""                             # SQL SELECT Statement
resultSet = False                               # Pointer To A Result Set
connErrorMsg = ""                               # Database Connection Error Information
stmtErrorMsg = ""                               # SQL Statement Error Information
retCode = 0                                     # Return Code
queryRetCode = 0                                # Autocommit API Query Mode Return Code
setRetCode = False                              # Autocommit API Set Mode Return Code

#----------------------------------------------------------------------------------------------#
# Determine AUTOCOMMIT Behavior - If It's ON, Turn It OFF                                      #
#----------------------------------------------------------------------------------------------#

# Determine Whether AUTOCOMMIT Behavior Is Currently ON Or OFF By Calling The
# ibm_db.autocommit() API (AUTOCOMMIT Behavior Should Be ON Since This Behavior Was Enabled
# When The Database Connection Was First Established)
try:
    queryRetCode = ibm_db.autocommit(connectionID)
except Exception:
    print("\nERROR: Unable to determine AUTOCOMMIT behavior setting.\n")  
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)

# If Autocommit Behavior Is ON, Turn It OFF By Calling The ibm_db.autocommit() API
# With The Appropriate Value (ibm_db.SQL_AUTOCOMMIT_OFF)
if queryRetCode == 1:    
    print("\nAUTOCOMMIT behavior is currently ON; turning it OFF ... ", end="")
    try:
        setRetCode = ibm_db.autocommit(connectionID, ibm_db.SQL_AUTOCOMMIT_OFF)
    except Exception:
        pass
    
    # If AUTOCOMMIT Behavior Could Not Be Turned OFF, Display An Error Message And Exit
    # (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)    
    if setRetCode == False:
        print("\nERROR: Unable to turn AUTOCOMMIT behavior OFF.\n")  
        connErrorMsg = ibm_db.conn_error(connectionID)
        print(connErrorMsg + "\n")
        exit(-1)      
        
    # Otherwise, Print "Done" And Display A Section Divider Line
    else:
        print("Done!\n")
        print('*' * 100)

# If AUTOCOMMIT Behavior Is OFF, Display A Message Stating That Along With A
# Section Divider Line
elif queryRetCode == 0:
    print("\nAUTOCOMMIT behavior is currently OFF\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Insert A Record Into The EMPLOYEE Table Created Earlier                                      #
#----------------------------------------------------------------------------------------------#

# Define The INSERT Statement That Is To Be Used To Add Data To The EMPLOYEE Table
insertStatement = "INSERT INTO employee"    # Insert Into The EMPLOYEE Table
insertStatement += " VALUES(1010,"          # The Value 1010 For The EMPNO Column
insertStatement += " 'AUDREY HEPBURN',"     # The Value 'AUDREY HEPBURN' For The NAME Column
insertStatement += " '10/20/2022',"         # The Value '10/20/2022 For The HIREDATE Column
insertStatement += " 'ANALYST',"            # The Value 'ANALYST' For The TITLE Column
insertStatement += " 'E01',"                # The Value 'E01' For The DEPT Column
insertStatement += " 128450.00)"            # And The Value 128450.00 For The SALARY Column

# Execute The INSERT Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following INSERT statement:\n\n" + insertStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, insertStatement)
except Exception:
    print("\nERROR: Unable to execute the INSERT statement specified.\n")    
    pass

# If The INSERT Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table To Confirm That The INSERT Statement Was Executed Successfully      #
# (We Can See The Record Because We're Still In The Transaction That Inserted It; Other Users  #
# CANNOT See The Record Unless They Are Running Under The 'Uncommitted Read' Isolation Level)  #
#----------------------------------------------------------------------------------------------#

# Define The SELECT Statement That Is To Be Executed
selectStatement = "SELECT * FROM employee"        # Retrieve All Data From The EMPLOYEE Table
selectStatement += " WHERE empno = 1010"          # For The Record With An EMPNO Value Of 1010

# Define And Initialize A Column Headers Tuple 
columnHeaders = ("EMPNO", "NAME", "HIREDATE", "TITLE", "DEPT", "SALARY")

# Define And Initialize A Column Widths Tuple 
columnWidths = (5, 18, 10, 15, 4, 10)

# Execute The SELECT Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, selectStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Perform A ROLLBACK Operation To Back Out The Change Just Made                                #
#----------------------------------------------------------------------------------------------#

# Back Out The Change Just Made To The Database By Calling The ibm_db.rollback() API
print("\nBacking out changes made to the database ... ", end="")
resultSet = False
try:
    resultSet = ibm_db.rollback(connectionID)
except Exception:
    print("\nERROR: Unable to roll back the previous operation.")
    pass

# If The Roll Back Operation Could Not Be Performed, Display An Error Message And Exit
# (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)    
if resultSet == False:
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("Done!\n")
    print('*' * 100)  
    
#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table Again To Cofirm The Change Made By The INSERT Statement Was NOT    #
# Applied To The Database (Because The Transaction Was Rolled Back)                            #
#----------------------------------------------------------------------------------------------#

# Execute The SELECT Statement Again By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, selectStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Insert The Record Into The EMPLOYEE Table Again                                              #
#----------------------------------------------------------------------------------------------#    
    
# Execute The INSERT Statement Again By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("\nExecuting the following INSERT statement again:\n\n" + insertStatement)
resultSet = False
try:
    resultSet = ibm_db.exec_immediate(connectionID, insertStatement)
except Exception:
    print("\nERROR: Unable to execute the INSERT statement specified.\n")    
    pass

# If The INSERT Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Commit The Change Just Made                                                                  #
#----------------------------------------------------------------------------------------------#

# Make The Change Just Made To The Database Permanent By Calling The ibm_db.commit() API
print("\nCommitting changes made to the database ... ", end="")
resultSet = False
try:
    resultSet = ibm_db.commit(connectionID)
except Exception:
    print("\nERROR: Unable to commit the previous operation.")
    pass

# If The Commit Operation Could Not Be Performed, Display An Error Message And Exit
# (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)    
if resultSet == False:
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)

# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("Done!\n")
    print('*' * 100)  
    
#----------------------------------------------------------------------------------------------#
# Query The EMPLOYEE Table Once More To Confirm The Change Made By The INSERT Statement Was    #
# Successfully Applied To The Database (Because The Transaction Was Committed)                 #
#----------------------------------------------------------------------------------------------#

# Execute The SELECT Statement Once More By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, selectStatement, columnHeaders, columnWidths)

# If The SELECT Statement Was Successfully Executed, Add A Blank Line And Display A Section 
# Divider Line
if retCode == True:
    print()
    print('*' * 100) 
        
#----------------------------------------------------------------------------------------------#
# Turn AUTOCOMMIT Behavior ON                                                                  #
#----------------------------------------------------------------------------------------------#    

# Turn AUTOCOMMIT Behavior ON
print("\nTurning AUTOCOMMIT behavior ON ... ", end="")
try:
    setRetCode = ibm_db.autocommit(connectionID, ibm_db.SQL_AUTOCOMMIT_ON)
except Exception:
    print("\nERROR: Unable to turn AUTOCOMMIT behavior ON.\n") 
    pass
    
# If AUTOCOMMIT Behavior Could Not Be Turned ON, Display An Error Message And Exit
# (Call The ibm_db.conn_error() API To Obtain Detailed Error Information)    
if setRetCode == False:
    connErrorMsg = ibm_db.conn_error(connectionID)
    print(connErrorMsg + "\n")
    exit(-1)      
        
# Otherwise, Print "Done"
else:
    print("Done!\n")

# Section 3. Advanced topics

## Step 1: Create two user defined functions
### Overview:
<b><i>User defined functions (UDFs)</i></b> are special objects that can be used to extend and enhance the support provided by the built-in functions available with Db2. But, unlike built-in functions, UDFs can take advantage of operating system calls and the Db2 administrative application programming interfaces (APIs) Db2 provides. Several different types of UDFs can be created:

<ul>
    <li><b>SQL scalar</b>: A function whose body is written entirely in SQL and Db2 SQL Procedural Language (SQL PL) that returns a single value each time it is called. (SQL PL is a language extension of SQL that consists of statements and language elements that can be used to implement procedural logic in user defined functions and stored procedures. <i>You can learn more about SQL PL here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=data-sql-pl-support">SQL Procedural Language (SQL PL)</a>.)</li>
    <li><b>SQL table</b>: A function whose body is written entirely in SQL and SQL PL that returns a result set, in the form of a table, each time it is called.</li>
    <li><b>Sourced (or Template)</b>: A function that is based on another function (referred to as
the <i>source function</i>) that already exists. Sourced functions can be columnar, scalar, or tabular in nature; they can also be designed to overload specific operators such as <b>+</b>, <b>–</b>, <b>*</b>, and <b>/</b>. When a sourced function is invoked, all arguments passed to it are converted to the data types the underlying source function expects, and the source function itself is executed. Upon completion, the source function performs any conversions necessary on the results produced and then returns them to the calling application.</li>
    <li><b>External scalar</b>: A function whose body is written in a high-level programming language like C, C++, or Java that returns a single value each time it is called. The function itself resides in an external library and is registered in the database, along with any related attributes.</li>   
    <li><b>External table</b>: A function whose body is written in a high-level programming language that returns a result set, in the form of a table, each time it is called. As with external scalar functions, the function itself resides in an external library and is registered in the database, along with any related attributes.</li>
     <li><b>OLE DB External Table</b>: A function whose body is written in a high-level programming language that can access data from an Object Linking and Embedding Database (OLE DB) provider and return a result set in the form of a table.</li>
</ul>

Once a UDF is created (and registered with a database), it can be used anywhere a comparable built-in function can be used — UDFs are created (and registered with a database) using the <b>CREATE FUNCTION</b> SQL statement. Several forms of this statement are available; the appropriate form to use is determined by the function type desired. The basic syntax for the form of this statement that is used to create an SQL scalar function is:

<b>CREATE FUNCTION [ <i>FunctionName</i> ]<br>
&emsp;(&lt; &lt; <i>ParameterType</i> &gt; [ <i>ParameterName</i> ] [ <i>DataType</i> ] , ... &gt; )<br>
&emsp;RETURNS [ <i>OutputDataType</i> ]<br>
&emsp;&lt; LANGUAGE SQL &gt;<br>
&emsp;&lt; READS SQL DATA | CONTAINS SQL | MODIFIES SQL DATA &gt;<br>
&emsp;[ &lt; BEGIN ATOMIC &gt; <i>SQLStatements</i> ; &lt; END &gt; ]<br>
&emsp;RETURN [ <i>ReturnStatement</i> ]</b>

Similarly, the basic syntax for the form of the <b>CREATE FUNCTION</b> statement that is used to create an SQL table function is:
    
<b>CREATE FUNCTION [ <i>FunctionName</i> ]<br>
&emsp;(&lt; &lt; <i>ParameterType</i> > [ <i>ParameterName</i> ] [ <i>DataType</i> ] , ... &gt; )<br>
&emsp;RETURNS TABLE ( [ <i>ColumnName</i> ] [ <i>ColumnDataType</i> ] , ... )<br>
&emsp;&lt; LANGUAGE SQL &gt;<br>
&emsp;&lt; READS SQL DATA | CONTAINS SQL | MODIFIES SQL DATA &gt;<br>
&emsp;[ &lt; BEGIN ATOMIC &gt; <i>SQLStatements</i> ; &lt; END &gt; ]<br>
&emsp;RETURN [ <i>ReturnStatement</i> ]</b>
  
where:

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>FunctionName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the function that is to be created.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ParameterType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Indicates whether the parameter specified in the <b><i>ParameterName</i></b> parameter is an input parameter (<b>IN</b>), an output parameter (<b>OUT</b>), or both an input <i><u>and</u></i> an output parameter (<b>INOUT</b>).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ParameterName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the name to assign to one or more function parameters.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>DataType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies the data type of the parameter specified in the <b><i>ParameterName</i></b> parameter. (<i>You can learn more about the data types available with Db2 here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=elements-data-types">Data types</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>OutputDataType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the data type the function is expected to return.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ColumnName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies one or more names to assign to the column(s) the function is expected to return (<i>if the function is an SQL table function</i>).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ColumnDataType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the data type the function expects to return for each column specified in the <b><i>ColumnName</i></b> parameter.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>SQLStatements</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies one or more SQL statements that are to be executed when the function is invoked — if two or more statements are used, they should be enclosed with the keywords <b>BEGIN ATOMIC</b> and <b>END</b> and each statement must be terminated with a semicolon (<b>;</b>).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ReturnStatement</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the <b>RETURN</b> statement that is to be used to return data to the user, application, or SQL statement that invoked the function.</td>
    </tr>
</table>
    
The <b>&lt; CONTAINS SQL | READS SQL DATA | MODIFIES SQL DATA &gt;</b> clause identifies the types of SQL statements that can be used in the body of the function: if the <b>CONTAINS SQL</b> clause is specified, the function cannot contain SQL statements that read or modify data, if the <b>READS SQL DATA</b> clause is specified, the function cannot contain SQL statements that modify data; and if the <b>MODIFIES SQL DATA</b> clause is specified, the function can contain SQL statements that both read <i><u>and</u></i> modify data.
    
Thus, to create an SQL scalar function named <b>CONVERT_CTOF( )</b> that accepts a temperature value in degrees Celsius as input and returns a corresponding temperature value in degrees Fahrenheit, you would execute a <b>CREATE FUNCTION</b> statement that looks something like this:
    
<code>CREATE FUNCTION convert_ctof (IN temp_c FLOAT)
&emsp; RETURNS FLOAT
&emsp; RETURN FLOAT((temp_c * 1.8) + 32)</code>
    
On the other hand, to create an SQL table function named <b>DEPT_EMPLOYEES( )</b> that accepts a department code as input and returns a result set, in the form of a table, that contains basic information about every employee who works in the department specified, you would execute a <b>CREATE FUNCTION</b> statement that looks more like this:

<code>CREATE FUNCTION dept_employees (deptno CHAR(3))
&emsp; RETURNS TABLE (empno INTEGER, name VARCHAR(30))
&emsp; LANGUAGE SQL
&emsp; READS SQL DATA
&emsp; BEGIN ATOMIC
&emsp;&emsp; RETURN
&emsp;&emsp;&emsp; SELECT empno, name
&emsp;&emsp;&emsp; FROM employee AS e
&emsp;&emsp;&emsp; WHERE e.dept = dept_employees.deptno;
&emsp; END</code>

### Execute the code:
The code in the next cell executes both of the <b>CREATE FUNCTION</b> statements provided as examples. It then queries the system catalog to verify that both functions exist.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create An SQL Scalar User Defined Function (UDF) And An SQL Table UDF                        #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

#----------------------------------------------------------------------------------------------#
# Create An SQL Scalar User Defined Function Named CONVERT_CTOF()                              #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating An SQL Scalar Function Is Being Created
print("\nBUILDING AN SQL SCALAR USER DEFINED FUNCTION")
print('-' * 44)
print()

# Define The CREATE FUNCTION Statement To Be Executed
sqlStatement = "CREATE FUNCTION convert_ctof"   # Create A Function Named CONVERT_CTOF()
sqlStatement += " (IN temp_c FLOAT)"            # That Receives A Floating Point Number As Input
sqlStatement += " RETURNS FLOAT"                # And Returns A Floating Point Number As Output
sqlStatement += " RETURN"                       # That After Execution, Returns
sqlStatement += " FLOAT((temp_c * 1.8) + 32)"   # The Value Of The Number Received As Input
                                                #   Multiplied By 1.8 And Then Increased By 32
        
# Execute The CREATE FUNCTION Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The CREATE FUNCTION Statement Could Not Be Executed, Display A Detailed Error Message
# And Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
      
#----------------------------------------------------------------------------------------------#
# Create A SQL Table User Defined Function Named DEPT_EMPLOYEES()                              #
#----------------------------------------------------------------------------------------------#
        
# Display A Message Indicating An SQL Table Function Is Being Created
print("\nBUILDING AN SQL TABLE USER DEFINED FUNCTION")
print('-' * 43)
print()

# Define The CREATE FUNCTION Statement To Be Executed
sqlStatement = "CREATE FUNCTION"              # Create A Function
sqlStatement += " dept_employees"             # Named DEPT_EMPLOYEES()
sqlStatement += " (deptno CHAR(3))"           # That Receives A 3-Character Code As Input
sqlStatement += " RETURNS TABLE"              # And Returns A Table
sqlStatement += " (empno INTEGER,"            # With A Column Named EMPNO That Holds Integers
sqlStatement += " name VARCHAR(30))"          # And A Column Named NAME That Holds 30 Characters
sqlStatement += " LANGUAGE SQL"               # Whose Body Is Written In SQL and SQL PL
sqlStatement += " READS SQL DATA"             # And Reads, But Does Not Modify Data
sqlStatement += " BEGIN ATOMIC"               #  (This Marks The Start Of Several Statements)
sqlStatement += " RETURN"                     # And That After Execution, Returns The Results
                                              #  Of The Following Query:
sqlStatement += " SELECT empno, name"         # Retrieve The Data Stored In These Columns
sqlStatement += " FROM employee AS e"         # From The EMPLOYEE Table (Referenced As E)
sqlStatement += " WHERE e.dept = "            # Where Values In The DEPT Column Of The EMPLOYEE
sqlStatement += " dept_employees.deptno;"     #  Table Match The Values Of The DEPTNO Value
                                              #  Provided To This Function As Input
sqlStatement += " END"                        #  (This Marks The End Of Several Statements)
               
# Execute The CREATE FUNCTION Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
resultSet = False
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Retrieve Information About The Two Functions Just Created From The System Catalog            #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("ROUTINE_NAME", "CREATE_TIME")
columnWidths = (24, 26)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT ROUTINENAME,"            # Retrieve The Data Stored In This Column
sqlStatement += " CREATE_TIME"                  # And The Data Stored In This Column
sqlStatement += " FROM SYSCAT.ROUTINES"         # From The SYSCAT.ROUTINES View
sqlStatement += " WHERE ROUTINETYPE = 'F'"      # Where The ROUTINETYPE Column Value Indicates
                                                #  FUNCTION
sqlStatement += " AND ROUTINENAME"              # And The ROUTINENAME Column Value
sqlStatement += " = 'CONVERT_CTOF'"             # Is 'CONVERT_CTOF'
sqlStatement += " OR ROUTINENAME"               # Or The ROUTINENAME Column Value
sqlStatement += " = 'DEPT_EMPLOYEES'"           # Is 'DEPT_EMPLOYEES'
sqlStatement += " ORDER BY CREATE_TIME ASC"     # Arrange Records By Creation Time In 
                                                #  Ascending Order


# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 2: Invoke an SQL Scalar and an SQL Table user defined function
### Overview:
The way in which a user defined function (UDF) can be used is largely dependent upon the function type. A scalar function optionally accepts arguments and returns a single scalar value each time the function is called. Therefore, and SQL scalar function can be used wherever an <i>expression</i> can be used. (An expression is a specification, which can include operators, operands, and parentheses, that a Db2 database can evaluate to one or more values, or to a reference to some database object.)

Table functions, on the other hand, return rows and columns of data much like a table created with a simple <b>CREATE TABLE</b> statement would return when queried. Consequently, a table function can be used only in the <b>FROM</b> clause of an SQL statement.

### Execute the code:
The code in the next cell creates and populates a table named <b>WEATHER</b>. Then, it then builds and executes SQL statements that illustrate how each of the user defined functions (UDFs) created in the previous step might be used.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Invoke The User Defined Functions Created In The Previous Step                               #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
loopCounter = 1                                 # WHILE Loop Counter Variable
retCode = True                                  # Return Code

#----------------------------------------------------------------------------------------------#
# Create And Populate A Table Named WEATHER                                                    #
#----------------------------------------------------------------------------------------------#

# Define The CREATE TABLE Statement To Be Executed
sqlStatement = "CREATE TABLE weather (" # Create A Table Named WEATHER
sqlStatement += "region CHAR(15), "     # With A Column Named REGION That Accepts 15 Characters
sqlStatement += "avg_temp_c FLOAT) "    # And A Column Named AVG_TEMP_C That Accepts Floating
                                        #  Point Numbers

# Execute The CREATE TABLE Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
resultSet = False
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement: " + sqlStatement + "\n")    
    pass

# If The CREATE TABLE Statement Could Not Be Executed, Display A Detailed Error Message And
# Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)

# Populate The Table Just Created By Executing An INSERT Statement 3 Times
while loopCounter <= 3:
    
    # Define The INSERT Statement To Be Used To Add Data To The WEATHER Table
    sqlStatement = "INSERT INTO weather"       # Insert Into The WEATHER Table
    
    # If This Is The First Pass Through The Loop, ...
    if loopCounter == 1:
        sqlStatement += " VALUES('MOUNTAINS'," # The Value 'MOUNTAINS' For The REGION Column
        sqlStatement += " 16)"                 # And The Value 16 The AVG_TEMP_C Column
        
    # If This Is The Second Pass Through The Loop, ...
    if loopCounter == 2:
        sqlStatement += " VALUES('PIEDMONT',"  # The Value 'PIEDMONT' For The REGION Column
        sqlStatement += " 22)"                 # And The Value 22 The AVG_TEMP_C Column
        
    # If This Is The Third Pass Through The Loop, ...
    if loopCounter == 3:
        sqlStatement += " VALUES('COAST',"     # The Value 'COAST' For The REGION Column
        sqlStatement += " 24)"                 # And The Value 24 The AVG_TEMP_C Column
        
    # Execute The INSERT Statement Just Defined By Calling The ibm_db.exec_immediate() API
    # (This API Prepares And Executes An SQL Statement In A Single Step)
    resultSet = False
    try:
        resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
    except Exception:
        print("\nERROR: Unable to execute the SQL statement: " + sqlStatement + "\n")     
        pass

    # If The INSERT Statement Could Not Be Executed, Display A Detailed Error Message
    # And Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
    if resultSet == False:
        errorMsg = ibm_db.stmt_errormsg()
        print(errorMsg + "\n")
        exit(-1)
        
    #Increment The Loop Counter Variable
    loopCounter += 1
    
#----------------------------------------------------------------------------------------------#
# Query The WEATHER Table Using The CONVERT_CTOF() SQL Scalar UDF Created Earlier              #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The SQL Scalar Function Created Earlier Is Being Used
print("\nUSING THE SQL SCALAR USER DEFINED FUNCTION NAMED CONVERT_CTOF()")
print('-' * 63)

# Define The SELECT Statement That Is To Be Executed
sqlStatement = "SELECT region,"              # Retrieve REGION Data
sqlStatement += " avg_temp_c,"               # And AVG_TEMP_C Data
sqlStatement += " convert_ctof(avg_temp_c)"  # And AVG_TEMP_C Data Converted To Fahrenheit
sqlStatement += " FROM weather"              # From The WEATHER Table

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("REGION", "AVG_TEMP_C", "AVG_TEMP_F")
columnWidths = (12, 12, 12)

# Execute The SELECT Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)
  
# If The SQL Statement Was Successfully Executed, Print A Blank Line And Display Another
# Section Divider Line
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Display The Data Returned By The DEPT_EMPLOYEES() SQL Table UDF Created Earlier              #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The SQL Table Function Created Earlier Is Being Used
print("\nUSING THE SQL TABLE USER DEFINED FUNCTION NAMED DEPT_EMPLOYEES()")
print('-' * 64)    

# Define The SELECT Statement That Is To Be Executed
sqlStatement = "SELECT empno, name"                  # Retrieve The Data Stored In These Columns  
sqlStatement += " FROM TABLE(dept_employees('C01'))" # From The Table Produced When The SQL
                                                     #  Table Function DEPT_EMPLOYEES() Is
                                                     #  Called With The Input Value 'C01'                                                   
sqlStatement += " AS results"                        # And Label The Data Returned 'results'

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("EMPNO", "NAME")
columnWidths = (6, 18)

# Execute The SELECT Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 3: Create an SQL procedure
### Overview
Every time an SQL statement is executed against a Db2 database that resides on a remote server, the statement itself is sent over a network to the server for processing. The database at the server then executes the statement and returns the results, again over the network, to the appropriate user/application. This means that two messages must travel over the network for every SQL statement that gets executed. By breaking monolithic applications into separate parts and storing those parts that perform a relatively large amount of database activity with little or no user interaction directly on the database server itself (in the form of a <i>stored procedure</i>), the amount of data that needs to flow across the network can be greatly reduced. In some cases, this approach can also enhance application performance, since the portions of the code that interact with the database are physically stored on the server where computing power and centralized control can deliver quick, coordinated data access.

<b><i>Stored procedures</i></b> allow work that is done against a database to be encapsulated and stored in
such a way that it can be executed directly at the database server by any application or user who has the appropriate authority. And, because only one SQL statement is needed to invoke a stored procedure (the <b>CALL</b> statement), fewer messages are transmitted across the network — only the data that is actually needed at the client is sent across. It is also important to note that when a stored procedure is used to implement a specific business rule, the logic needed to apply that rule can be incorporated into <i><u>any</u></i> application simply by invoking the procedure. Thus, the same business rule logic is guaranteed to be enforced across multiple applications. And if business rules change, only the logic in the procedure has to be modified — applications that call the procedure do not have to be altered.

Two different types of stored procedures can be created:
<ul>
    <li><b>SQL (or Native SQL)</b>: A stored procedure whose body is written entirely in SQL or SQL Procedural Language (SQL PL). (SQL PL is a language extension of SQL that consists of statements and language elements that can be used to implement procedural logic in user defined functions and stored procedures. <i>You can learn more about SQL PL here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=data-sql-pl-support">SQL Procedural Language (SQL PL)</a>.)</li>
    <li><b>External</b>: A stored procedure whose body is written in a high-level programming language such as C, C++, COBOL, Java, or REXX that resides in an external library that is accessible to DB2; external stored procedures must be registered in a database, along with all their related attributes, before they can be invoked.</li>
</ul>    
   
While SQL procedures offer rapid application development and considerable flexibility, external stored procedures can be much more powerful because they can exploit system calls and the administrative application programming interfaces (APIs) that are provided with Db2. However, this increase in functionality makes them much more difficult to produce. In fact, the following steps are required to create an external stored procedure:
<ol>
    <li>Construct the body of the procedure, using a supported high-level programming language.</li>
    <li>Compile and link the procedure to create a shared (dynamic-link) library.</li>
    <li>Debug the procedure, repeating steps 1 and 2 until all problems have been resolved.</li>
    <li>Physically store the library containing the procedure on the database server.</li>
    <li>Modify system permissions for the library so that all users with the proper authority can execute it.</li>
    <li>Register the procedure with the appropriate Db2 database (running on the server).</li>
</ol>

Regardless of whether stored procedures are written using SQL or a high-level programming language, they must perform the following tasks, in the order shown:
<ol>
    <li>Accept any input parameter values the calling application supplies.</li>
    <li>Perform whatever processing is appropriate (typically, this involves executing one or more SQL statements as a single operation).</li>
    <li>Return output data (if data is to be returned) to the calling application — at a minimum, a stored procedure should return a value that indicates whether it executed successfully.</li>
</ol>

Stored procedures are created by executing the <b>CREATE PROCEDURE</b> statement. Two forms of this statement are available, and the appropriate form to use is determined by the stored procedure type. The basic syntax for the form of the <b>CREATE PROCEDURE</b> statement that is used to create an SQL stored procedure looks something like this:
   
<b>CREATE PROCEDURE [ <i>ProcedureName</i> ]<br>
&emsp;(&lt; &lt; <i>ParameterType</i> &gt; [ <i>ParameterName</i> ] [ <i>DataType</i> ] , ... &gt; )<br>
&emsp;&lt; LANGUAGE SQL &gt;<br>
&emsp;&lt; DYNAMIC RESULT SETS [ 0 | <i>NumResultSets</i> ] &gt;<br>
&emsp;&lt; READS SQL DATA | CONTAINS SQL | MODIFIES SQL DATA &gt;<br>
&emsp;[ &lt; BEGIN ATOMIC > <i>SQLStatements</i> ; &lt; END &gt; ]<br></b>

where:

<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ProcedureName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the name to assign to the procedure that is to be created.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ParameterType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Indicates whether the parameter specified in the <b><i>ParameterName</i></b> parameter is an input parameter (<b>IN</b>), an output parameter (<b>OUT</b>), or both an input <i><u>and</u></i> an output parameter (<b>INOUT</b>).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ParameterName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the name to assign to one or more function parameters.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>DataType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies the data type of the parameter specified in the <b><i>ParameterName</i></b> parameter. (<i>You can learn more about the data types available with Db2 here:</i> <a href="https://www.ibm.com/docs/en/db2/11.5?topic=elements-data-types">Data types</a>)</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>NumResultSets</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies the number of result sets the procedure returns (if any).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style=" width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>SQLStatements</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies one or more SQL statements that are to be executed when the procedure is invoked — if two or more statements are used, they should be enclosed with the keywords <b>BEGIN</b> and <b>END</b> and each statement must be terminated with a semicolon (<b>;</b>).</td>
    </tr>
</table>
    
Thus, to create an SQL procedure named <b>HIGH_EARNERS( )</b> that returns a list of employees whose salary exceeds the average salary (in the form of a result set), along with the average employee salary, you might execute a <b>CREATE PROCEDURE</b> statement that looks something like this:

<code>CREATE PROCEDURE high_earners
&emsp; (OUT avg_salary FLOAT)
&emsp; LANGUAGE SQL
&emsp; DYNAMIC RESULT SETS 1
&emsp; READS SQL DATA
&emsp; BEGIN 
&emsp;&emsp; DECLARE c1 CURSOR WITH RETURN FOR
&emsp;&emsp;&emsp; SELECT name, salary
&emsp;&emsp;&emsp; FROM employee
&emsp;&emsp;&emsp; WHERE salary > avg_salary
&emsp;&emsp;&emsp; ORDER BY salary DESC;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp; DECLARE EXIT HANDLER FOR NOT FOUND
&emsp;&emsp;&emsp; SET avg_salary = 0;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp; SET avg_salary = 0;
&emsp;&emsp; SELECT AVG(salary) INTO avg_salary
&emsp;&emsp;&emsp; FROM employee;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp; OPEN c1;
&emsp; END</code>
    
When this particular <b>CREATE PROCEDURE</b> statement is executed, the SQL procedure produced will return an integer value (in an output parameter called <b>AVG_SALARY</b>) and a result set that contains the name and salary of each employee whose salary is higher than the average salary paid to employees. Key elements that control this behavior include:
<ol>
    <li>Specifying the <b>DYNAMIC RESULT SETS 1</b> clause with the <b>CREATE PROCEDURE</b> statement used, indicating the SQL procedure is to return one result set.</li>
    <li>Defining a cursor within the procedure body (and specifying the <b>WITH RETURN FOR</b> clause in the <b>DECLARE CURSOR</b> statement used) so a result data set will be returned. (<i>As mentioned earlier, a cursor is an object that enables traversal over the rows of a result set.</i>)</li>
    <li>Querying the <b>EMPLOYEE</b> table using the built-in <b>AVG( )</b> scalar function to obtain average salary information.</li>
    <li>Opening the cursor (which causes the query that obtains employee salary information to be executed and a result data set to be produced).</li>
    <li>Returning the average salary to the calling statement (in the output parameter named <b>AVGSALARY</b>) and leaving the cursor that was created open so the data in the result set produced can be accessed by the calling application.</li>
</ol>

### Execute the code:
The code in the next cell executes the <b>CREATE PROCEDURE</b> statement that was provided as an example. It then queries the system catalog to verify that the procedure exists.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Create An SQL Procedure                                                                      #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code

# Display A Message Indicating An SQL Procedure Is Being Created
print("\nBUILDING AN SQL PROCEDURE")
print('-' * 25)
print()

# Define The CREATE PROCEDURE Statement To Be Executed       
sqlStatement = "CREATE OR REPLACE"              # Create Or Replace
sqlStatement += " PROCEDURE high_earners"       # A Procedure Named HIGH_EARNERS()
sqlStatement += " (OUT avg_salary FLOAT)"       # That Returns An Integer As Output
sqlStatement += " LANGUAGE SQL"                 # That Is Written In SQL/PL SQL
sqlStatement += " DYNAMIC RESULT SETS 1"        # And That Returns 1 Result Set
sqlStatement += " READS SQL DATA"               # And Can Read, But Not Update Data
sqlStatement += " BEGIN"                        #  (This Marks The Start Of Several Statements)
sqlStatement += " DECLARE c1 CURSOR"            # Define A Cursor Named C1
sqlStatement += " WITH RETURN FOR"              # That Will Return Data Generated By A Query:
sqlStatement += " SELECT name, salary"          # That Retrieves NAME and SALARY Data
sqlStatement += " FROM employee"                # From The EMPLOYEE Table
sqlStatement += " WHERE salary > avg_salary"    # Where SALARY Is Greater Than The Average
sqlStatement += " ORDER BY salary DESC;"        # And Sorts The Data, By SALARY, Descending

sqlStatement += " DECLARE EXIT HANDLER"         # Define An Exit Handler Such That:
sqlStatement += " FOR NOT FOUND"                # If No Data Is Found,
sqlStatement += " SET avg_salary = 0;"          # An Average SALARY Value Of 0.99 Is Returned

sqlStatement += " SET avg_salary = 0;"          # Set The AVG_SALARY Variable Value To 0

sqlStatement += " SELECT AVG(salary)"           # Use The Function AVG() To Get The Average
sqlStatement += " INTO avg_salary"              # SALARY And Store It In The Output Variable
sqlStatement += " FROM employee;"               # Using Data Found In The EMPLOYEE Table

sqlStatement += " OPEN c1;"                     # Open The C1 Cursor Defined Earlier
sqlStatement += " END"                          #  (This Marks The End Of Several Statements)
        
# Execute The CREATE Procedure Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The CREATE PROCEDURE Statement Could Not Be Executed, Display A Detailed Error Message
# And Exit (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Retrieve Information About The Procedure Just Created From The System Catalog                #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("ROUTINE_NAME", "CREATE_TIME")
columnWidths = (14, 26)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT ROUTINENAME,"            # Retrieve The Data Stored In This Column
sqlStatement += " CREATE_TIME"                  # And The Data Stored In This Column
sqlStatement += " FROM SYSCAT.ROUTINES"         # From The SYSCAT.ROUTINES View
sqlStatement += " WHERE ROUTINETYPE = 'P'"      # Where The ROUTINETYPE Column Value Indicates
                                                #  PROCEDURE
sqlStatement += " AND ROUTINENAME"              # And The ROUTINENAME Name
sqlStatement += " = 'HIGH_EARNERS'"             # Is 'HIGH_EARNERS'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 4: Invoke an SQL procedure
### Overview

Once a procedure has been created and registered with a database (via the <b>CREATE PROCEDURE</b> statement), it can be invoked by executing the <b>CALL</b> statement. The basic syntax for this statement is:
      
<b>CALL [ <i>ProcedureName</i> ]<br>
&emsp;( [ <i>InputParameter</i> ] | [ <i>OutputParameter</i> ] | DEFAULT | NULL , ... )<br></b>

where:
    
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>ProcedureName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies, by name, the procedure that is to be invoked.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>InputParameter</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies one or more values (or application variables containing values) that are to be passed to the procedure as input parameters.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>OutputParameter</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies one or more values (or application variables) that are to receive values that will be returned as output from the procedure.</td>
    </tr>
</table>
   
Like other dynamic SQL statements that can be prepared and executed at runtime, <b>CALL</b> statements can contain parameter markers in place of constants and expressions. (You may recall that parameter markers are represented by the question mark character (?) and indicate the position in an SQL statement where the current value of one or more application variables are to be substituted at the time the statement is executed.)
    
Thus, the SQL procedure named <b>HIGH_EARNERS( )</b> that was created earlier can be invoked by executing a <b>CALL</b> statement that looks something like this:
    
<code>CALL high_earners (?)</code>    

While the <b>CALL</b> SQL statement can be prepared and executed (using parameter markers) with Python and Jupyter Notebook, there is no way to retrieve any data and/or result set(s) the procedure being called might produce. Instead, the <b>ibm_db.callproc( )</b> application programming interface (API) in the <b>ibm_db</b> library <i><u>must</u></i> be used to invoke procedures when Python or Jupyter Notebook is used. The syntax for this API is:
    
<b>ibm_db.callproc ( IBM_DBConnection <i>connectionID</i>, string <i>procName</i> [, tuple <i>procParams</i> ] )</b>

where:
    <table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>connectionID</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:4px;">Identifies a valid Db2 database connection object (that was created by calling the <b>ibm_db.connect( )</b> or <b>ibm_db.pconnect( )</b> API).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>procName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">Identifies, by name, the procedure that is to be invoked.</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;"><i>procParams</i></td>
        <td style="width:1%; text-align:right; vertical-align:top; padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top; padding-top:0px; padding-bottom:0px;">A Python tuple containing values (or value placeholders) for each parameter required by the procedure specified in the <b><i>procName</i></b> parameter.</td>
    </tr>
</table>
    
If the execution of this API is successful, an IBM_DBStatement object, (or a tuple containing an IBM_DBStatement object), followed by a potentially modified tuple containing a copy of the parameter values that were supplied for the <b><i>procPrams</i></b> parameter when the API was called, will be returned. (Values for <b>IN</b> parameters are left untouched whereas values for <b>OUT</b> and <b>INOUT</b> parameters may have been changed by the procedure.) If the execution of this API is unsuccessful, the value <code>None</code> will be returned instead.

### Execute the code:
The code in the next cell executes both the <b>CALL</b> SQL statement and the <b>ibm_db.callproc( )</b> API to invoke the procedure named <b>HIGH_EARNERS( )</b> that was created earlier.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Invoke The SQL Procedure Created In The Previous Step                                        #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
preparedStmt = None                             # Pointer To A Prepared SQL Statement
errorMsg = ""                                   # Detailed Error Information
retCode = True                                  # Return Code
procParamValue = (0.0,)                         # SQL Procedure Parameter Value
procName = "HIGH_EARNERS"                       # SQL Procedure Name
resultSet = False                               # Pointer To A Result Set
avgSalary = 0                                   # Average Salary (Returned By Procedure)
noData = False                                  # No Data Found Flag
dataRecord = False                              # Data Record
firstPass = True                                # First Pass Through Record Display Loop Flag
columnHeaders = ("NAME", "SALARY")              # Column Headers Tuple 
columnWidths = (18, 11)                         # Column Widths Tuple 
numRows = 0                                     # Number Of Records (Rows) Retrieved 

#----------------------------------------------------------------------------------------------#
# Use The CALL Statement To Invoke The HIGH_EARNERS() Procedure Created Earlier                #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The CALL Statement Is Being Used To Invoke The Procedure
# Created Earlier
print("\nUSING THE CALL STATEMENT TO INVOKE THE PROCEDURE NAMED HIGH_EARNERS()")
print('-' * 69)       

#----------------------------------------------------------------------------------------------#
# Prepare The CALL Statement Needed To Invoke The HIGH_EARNERS() Procedure Created Earlier     #
#----------------------------------------------------------------------------------------------#

# Define The CALL Statement That Is To Be Executed
sqlStatement = "CALL high_earners"         # Invoke The Procedure Named HIGH_EARNERS  
sqlStatement += " (?)"                     # With The Parameter Marker For The CODE Column Value
                                                       
# Prepare The CALL Statement Just Defined By Calling The ibm_db.prepare() API
print("\nPreparing the following SQL statement for execution:\n\n" + sqlStatement)
try:
    preparedStmt = ibm_db.prepare(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to prepare the SQL statement specified.\n")
    pass

# If The SQL Statement Could Not Be Prepared, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if preparedStmt == None:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Add A Blank Line To The End Of The Report
else:
    print()
    
#----------------------------------------------------------------------------------------------#
# Execute The CALL Statement Needed To Invoke The HIGH_EARNERS() Procedure Created Earlier     #
#----------------------------------------------------------------------------------------------#
    
# Execute The CALL Statement Prepared Earlier By Calling The ibm_db.execute() API
# (Provide The Current Data Record Tuple As An Input Value)
print("Executing the prepared statement ... ", end="")
try:
    retCode = ibm_db.execute(preparedStmt, procParamValue)
except Exception:
    print("\nERROR: Unable to execute the prepared CALL statement.\n")    
    pass
    
# If The Prepared CALL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if retCode == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)   
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("Done!\n")

# Print The Average Salary Information Retrieved
print("Average salary information returned by the HIGH_EARNERS() Procedure: ", end="")
print("${:>10.2f}\n" .format(procParamValue[0]))

# Display A Message Stating The ibm_db.callproc() API Is Required To See The Records
print("NOTE: Even though the\033[1m CALL\33[0m statement executed successfully, ", end="")
print("there is no way to obtain the data\n      produced by this procedure. That's ", end="")
print("why the\033[1m ibm_db.callproc()\33[0m API must be used instead.\n")

# Display A Section Divider
print('*' * 100)

#----------------------------------------------------------------------------------------------#
# Use The ibm_db.callproc() API To Invoke The HIGH_EARNERS() Procedure Created Earlier         #
#----------------------------------------------------------------------------------------------#

# Display A Message Indicating The ibm_db.callproc() API Is Being Used To Invoke The Procedure
# Created Earlier
print("\nUSING THE ibm_db.callproc() API TO INVOKE THE PROCEDURE NAMED HIGH_EARNERS()")
print('-' * 76)

# Invoke The HIGH_EARNERS() Procedure By Calling The ibm_db.callproc() API
try:
    resultSet, avgSalary = ibm_db.callproc(connectionID, procName, procParamValue)
except Exception:
    print("\nERROR: Unable to execute the " + procName + "() procedure.\n")    
    pass

# If The Procedure Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.sconn_error() API To Obtain Detailed Error Information)
if resultSet == None:
    errorMsg = ibm_db.conn_error(connectionID)
    print(errorMsg + "\n")
    exit(-1)

# Display A Header Label
print("\nEmployees with a salary above the average salary (", end="")

# Display The Average Salary Value Returned By The Procedure    
print("${:>10.2f}) :\n" .format(avgSalary))     

# As Long As There Are Records In The Result Set Produced, ...
while noData == False:

    # Retrieve A Record And Store Its Values In A Tuple By Calling The ibm_db.fetch_tuple() API
    try:
        dataRecord = ibm_db.fetch_tuple(resultSet)
    except:
        print("ibm_db.fetch_tuple() returned an error.\n")
        pass

    # If A Record Could Not Be Retrieved Or If No Record Was Found, Set The "No Data" Flag To TRUE 
    # To Exit The while() Loop
    if dataRecord == False:
        noData = True
       
        # If This Is The First Pass Through The while() Loop,  Display A "No Records Found" 
        # Message And Exit The Loop
        if firstPass == True:
            print("No records found.")
            break

    # Otherwise, Display The Appropriate Information
    else:
            
        # If This Is The First Pass Through The while() Loop, ...
        if firstPass == True:
                
            # Display The Column Headers Provided In The columnHeaders Tuple - Left Justify
            # The Text And Make Each Column The Width Specified In The columnWidths Tuple
            for tupIndx in range(2):
                print(f'{columnHeaders[tupIndx]:<{columnWidths[tupIndx]}}', end="")
                print("  ", end="")      # Space Between Column Header Values           
         
            # Terminate The Line And Display Column Header/Value Dividing Lines Just Below
            # The Column Headers
            print()
            for tupIndx in range(2):
                print(f'{"":-<{columnWidths[tupIndx]}}', end="")
                print("  ", end="")      # Space Between Column Header Dividing Lines  
                    
            # Terminate The Line And Set The "First Pass" Flag To FALSE So Header
            # Information Will Not Be Displayed Again
            print()
            firstPass = False
            
        # Format And Display The Data For Each Record Retrieved
        for tupIndx in range(2):         # For Every Column In The Record, ...

            # Copy The Data Value Into A Character String Variable And Remove Any Trailing 
            # Space Characters Found
            dataValue = "{}".format(dataRecord[tupIndx])
            newValue = dataValue.rstrip()

            # If The Data Value Contains A Decimal Point, Add a "$" Symbol To The Front And
            # Display The Value Right Justified, Using The Width Specified In The 
            # columnWidths Tuple (This Is SALARY Data)
            if ("." in dataValue) == True:
                newValue = "$ " + dataValue
                dataValue = newValue.rstrip()
                print(f'{dataValue:>{columnWidths[tupIndx]}}', end="")
               
            # Otherwise (This Is NAME Data), ...
            else:
        
                # Display The Data Value Left Justified, Using The Width Specified
                # In The columnWidths Tuple
                print(f'{newValue:<{columnWidths[tupIndx]}}', end="")
                       
            # Add Spaces Between This Column Value And The Next 
            print("  ", end="")           # Space Between Column Values 
          
        # Terminate The Line And Increment The Records (Rows) Counter
        print()
        numRows = numRows + 1

# If Records Were Retrieved, Display The Number Of Records Found And Add A Blank
# Line To The End Of The Report
if firstPass == False:
    print("\nNumber of records (rows) found:", numRows)
    print()

# Section 4. Lab environment clean up

## Step 1: Remove the tables used by the Db2 Explain facility
### Overview:
In <b>Step 11</b> of <b>Section 2</b>, the tables that are needed for the Explain facility were created by calling the <b>SYSPROC.SYSINSTALLOBJECTS( )</b> stored procedure. As pointed out in <b>Step 10</b> of the same section, the <b>SYSPROC.SYSINSTALLOBJECTS( )</b> procedure is used to both create <i><u>and drop</u></i> the database objects that are required by a specific Db2 tool. You may recall that the SQL syntax used to execute this procedure is:

<b>CALL SYSPROC.SYSINSTALLOBJECTS ( [ <i>ToolName</i> ], [ <i>Action</i> ], [ <i>TablespaceName</i> ], [ <i>SchemaName</i> ] )</b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ToolName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Identifies the name of the tool that database objects are to be created or deleted for. Valid values include:<br>
            <ul>
                <li><b>'DB2AC'</b> (for autonomous computing/the Db2 health monitor)</li>
                <li><b>'STMG_DBSIZE_INFO'</b> (for storage management)</li>
                <li><b>'OPT_PROFILES'</b> (for optimization profiles)</li>
                <li><b>'POLICY'</b> (for policy management)</li>
                <li><b>'EXPLAIN'</b> (for the Explain facility)</li>
                <li><b>'INGEST'</b> (for the ingest utility)</li>
                <li><b>'REPL_MQT'</b> (for shadow table replication)</li>
            </ul>
        </td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>Action</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:4px;">Specifies the action that is to be taken with the required objects. Valid values include:<br>
            <ul>
                <li><b>'C'</b> (create objects)</li>
                <li><b>'D'</b> (drop/delete objects)</li>
                <li><b>'V'</b> (verify objects)</li>
                <li><b>'M'</b> (migrate objects — this option indicates that Explain tables created with Db2 Version 7 or later are to be made compatible with the current Db2 version and is only valid when the <b><i>ToolName</i></b> parameter is set to <b>'EXPLAIN'</b>)</li>
            </ul>
        </td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>TablespaceName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the table space in which the database objects are to be created. (In most cases, the table space named <b>SYSTOOLSPACE</b> is used).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>SchemaName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the schema in which the database objects are to be created. (In most cases, the schema name <b>SYSTOOLS</b> is used.)</td>
    </tr>
</table>

Thus, to <i>delete</i> the database objects that are required for the Explain facility (i.e., the Explain tables), you would execute an SQL statement that looks like this (assuming they were created in the default table space and schema):

<code>CALL SYSPROC.SYSINSTALLOBJECTS ('EXPLAIN', 'D',
&emsp; CAST (NULL AS VARCHAR(128)), CAST (NULL AS VARCHAR(128)))</code>

### Execute the code:
The code in the next cell deletes the Explain tables that were created earlier by calling the <b>SYSPROC.SYSINSTALLOBJECTS( )</b> stored procedure. It then queries the system catalog to verify that the Explain tables were successfully removed.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>
<div class="alert alert-block alert-danger">
    <b>IMPORTANT:</b> The ability to remove Explain tables is not available with the <b>Db2 "Lite" service</b> on IBM Cloud. Consequently, this step can <b><i><u>ONLY</u></i></b> be performed if <b>IBM Db2 Community Edition</b> (or another on-premises Edition of Db2) is being used for this lab.
<br><br>
If you attempt to perform this step with a Db2 On Cloud database, <b>IT WILL FAIL!</b>
</div>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Delete The Tables That Were Created For The Db2 Explain Facility                             #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information

# Define The SQL Statement That Will Be Used To Delete The Db2 Explain Tables
sqlStatement = "CALL SYSPROC.SYSINSTALLOBJECTS(" # Call The SYSINSTALLOBJECTS() Procedure And
sqlStatement += "'EXPLAIN',"                     # Indicate Objects For The Explain Facility
sqlStatement += "'D',"                           # Need To Be Deleted
sqlStatement += "CAST (NULL AS VARCHAR(128)),"   # From The Default Table Space
sqlStatement += "CAST (NULL AS VARCHAR(128)))"   # Using The Default Schema Name

# Execute The SQL Statement Just Defined By Calling The ibm_db.exec_immediate() API
# (This API Prepares And Executes An SQL Statement In A Single Step)
print("Executing the following SQL statement:\n\n" + sqlStatement)
try:
    resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
except Exception:
    print("\nERROR: Unable to execute the SQL statement specified.\n")    
    pass

# If The SQL Statement Could Not Be Executed, Display A Detailed Error Message And Exit
# (Call The ibm_db.stmt_errormsg() API To Obtain Detailed Error Information)
if resultSet == False:
    errorMsg = ibm_db.stmt_errormsg()
    print(errorMsg + "\n")
    exit(-1)
    
# Otherwise, Print "Done" And Display A Section Divider Line
else:
    print("\nDone!\n")
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Retrieve Information About The Explain Tables From The System Catalog                        #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("TABSCHEMA", "TABNAME")
columnWidths = (12, 24)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABSCHEMA, TABNAME"      # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TABSCHEMA"              # Where The Schema Name
sqlStatement += " = 'SYSTOOLS'"                 # Is 'SYSTOOLS'
sqlStatement += " AND TABNAME"                  # And The Table Name
sqlStatement += " NOT LIKE 'HMON%'"             # Does NOT Start With 'HMON'
sqlStatement += " AND TABNAME"                  # And The Table Name
sqlStatement += " NOT LIKE 'POLICY'"            # Does NOT Start With 'POLICY'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 2: Query the system catalog to see all the user-defined objects created in this lab
### Overview:
Before proceeding with the removal of all of the user-defined objects that were created in this lab, let's query the system catalog to see exactly what objects were created. (<i>Once the objects have been deleted, we can query the system catalog again to verify the deletion operation was successful.</i>)

As we saw earlier, you can obtain a list of the tables and views that have been defined in a database by querying the system catalog view named <b>SYSCAT.TABLES</b>. You can obtain a list of the indexes that have been created by querying the <b>SYSCAT.INDEXES</b> system catalog view. And finally, you can obtain a list of the user defined functions (UDFs) and procedures that have been defined by querying the system catalog view named <b>SYSCAT.ROUTINES</b>.

### Execute the code:
The code in the next cell queries the <b>SYSCAT.TABLES</b> view, the <b>SYSCAT.INDEXES</b> view, and the <b>SYSCAT.ROUTINES</b> view and returns a list of the tables, views, indexes, UDFs, and procedures that were created in this lab.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Query The System Catalog To See All Of The Objects Defined In This Lab                       #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
retCode = True                                  # runQuery Function Return Code

#----------------------------------------------------------------------------------------------#
# Query The SYSCAT.TABLES System Catalog View To See The Tables And View Created               #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers Column Widths Tuples
columnHeaders = ("TABNAME", "COLCOUNT")
columnWidths = (12, 11)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TABNAME = 'WEATHER'"    # For A Table Named 'WEATHER'
sqlStatement += " OR TABNAME = 'EMPLOYEE'"      # Or A Table Named 'EMPLOYEE'
sqlStatement += " OR TABNAME = 'DEPARTMENT'"    # Or A Table Named 'DEPARTMENT'
sqlStatement += " OR TABNAME = 'EMP_DEPT'"      # Or A View Named 'EMP_DEPT'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Display A Section Divider Line
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The SYSCAT.INDEXES System Catalog View To See The Index Created                        #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers Column Widths Tuples
columnHeaders = ("INDNAME", "TABNAME")
columnWidths = (10, 12)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT INDNAME, TABNAME"        # Retrieve The Data Stored In These Columns,
sqlStatement += " FROM SYSCAT.INDEXES"          # From The SYSCAT.INDEXES View,
sqlStatement += " WHERE INDNAME = 'EMP_IDX'"    # For An Index Named 'EMP_IDX'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Display A Section Divider Line
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The SYSCAT.ROUTINES System Catalog View To See The User Defined Functions And          #
# The Procedure Created                                                                        #
#----------------------------------------------------------------------------------------------#
    
# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("ROUTINE_NAME", "CREATE_TIME")
columnWidths = (14, 26)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT ROUTINENAME,"            # Retrieve The Data Stored In This Column
sqlStatement += " CREATE_TIME"                  # And The Data Stored In This Column
sqlStatement += " FROM SYSCAT.ROUTINES"         # From The SYSCAT.ROUTINES View
sqlStatement += " WHERE ROUTINENAME"            # Where The ROUTINENAME Column Value
sqlStatement += " = 'HIGH_EARNERS'"             # Is 'HIGH_EARNERS'
sqlStatement += " OR ROUTINENAME"               # Or The ROUTINENAME Column Value
sqlStatement += " = 'DEPT_EMPLOYEES'"           # Is 'DEPT_EMPLOYEES'
sqlStatement += " OR ROUTINENAME"               # Or The ROUTINENAME Column Value
sqlStatement += " = 'CONVERT_CTOF'"             # Is 'CONVERT_CTOF'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 3: Remove all user-defined objects created earlier from the database
### Overview:
While it is important to be able to create and modify database objects in a Db2 database, it is equally important to be able to delete objects when they are no longer needed. Most user-defined objects can be removed from a Db2 database by executing some form of the <b>DROP</b> SQL statement. The basic syntax for this statement is:

<b>DROP [<i>ObjectType</i> ]&ensp; [ <i>ObjectName</i> ]<br></b>

where:
<table style="border:none; border-collapse:collapse; font-size:14px; width:100%;">
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ObjectType</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies the type of object that is to be deleted (dropped).</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; font-size:20px;">&bull;</td>
        <td style="width:6%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;"><i>ObjectName</i></td>
        <td style="width:1%; text-align:right; vertical-align:top;padding-top:0px; padding-bottom:0px; vertical-align:top;">:</td>
        <td style="width:40%; text-align:left; vertical-align:top;padding-top:0px; padding-bottom:0px;">Identifies, by name, the object that is to be deleted (dropped).</td>
    </tr>
</table>

Thus, if you wanted to delete a table named <b>SALES</b>, you could do so by executing a <b>DROP</b> statement that looks like this:

<code>DROP TABLE sales</code>

It is important to keep in mind that when an object is dropped, its removal may affect other objects that are dependant upon its existence. (For instance, if a table a view is based on is dropped, the view will no longer be valid.) In some cases, when an object is dropped, all objects that are dependent upon the object are dropped as well (for example, when a table is dropped any indexes that have been defined for the table are also dropped). In other cases, an object can <i><u>only</u></i> be dropped after all other objects that are dependent upon its existence have been deleted.

<div class="alert alert-block alert-warning">
    <b>IMPORTANT:</b> Built-in objects, such as system catalogs and views, cannot be removed with a <b>DROP</b> statement.
</div>

### Execute the code:<br>
The code in the next cell drops (removes) the view, tables, user defined functions, and procedure that were created earlier.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Drop All Database Objects That Were Created In This Lab                                      #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
loopCounter = 1                                 # WHILE Loop Counter Variable
sqlStatement = ""                               # Structured Query Language (SQL) Statement
resultSet = False                               # Pointer To A Result Set
errorMsg = ""                                   # Detailed Error Information

#----------------------------------------------------------------------------------------------#
# Create And Populate A Table Named WEATHER                                                    #
#----------------------------------------------------------------------------------------------#

# Define And Execute The Appropriate DROP Statement For Every Object Created
while loopCounter <= 7:
    
    # Define The DROP Statement To Be Executed
    
    # If This Is The First Pass Through The Loop, ...
    if loopCounter == 1:
        sqlStatement = "DROP PROCEDURE high_earners(FLOAT)"
        
    # If This Is The Second Pass Through The Loop, ...
    if loopCounter == 2:
        sqlStatement = "DROP FUNCTION dept_employees(CHAR(3))"
        
    # If This Is The Third Pass Through The Loop, ...
    if loopCounter == 3:
        sqlStatement = "DROP FUNCTION convert_ctof(FLOAT)"
        
    # If This Is The Fourth Pass Through The Loop, ...
    if loopCounter == 4:
        sqlStatement = "DROP TABLE weather"
        
    # If This Is The Fifth Pass Through The Loop, ...
    if loopCounter == 5:
        sqlStatement = "DROP VIEW emp_dept"
        
    # If This Is The Sixth Pass Through The Loop, ...
    if loopCounter == 6:
        sqlStatement = "DROP TABLE department"        
        
    # If This Is The Seventh Pass Through The Loop, ...
    if loopCounter == 7:
        sqlStatement = "DROP TABLE employee"
        #--------------------------------------------------------------------------------------# 
        # Note: The Index Named EMP_IDX That Was Created For This Table Will Be Dropped        #
        #       Automatically When The Table Is Dropped                                        #
        #--------------------------------------------------------------------------------------#
            
    # Execute The DROP Statement Just Defined By Calling The ibm_db.exec_immediate() API
    # (This API Prepares And Executes An SQL Statement In A Single Step)
    resultSet = False
    print("\nExecuting the following SQL statement: " + sqlStatement + " ... ", end="")
    try:
        resultSet = ibm_db.exec_immediate(connectionID, sqlStatement)
    except Exception:
        print("\nERROR: Unable to execute the SQL statement specified.\n")    
        pass

    # If The DROP Statement Could Not Be Executed, Display A Detailed Error Message
    # (Call The ibm_db.stmt_errormsg() API To Obtain Error Message Information)
    if resultSet == False:
        errorMsg = ibm_db.stmt_errormsg()
        print(errorMsg + "\n")
      
    # Otherwise, Print "Done" And Continue
    else:
        print("Done!")

    #Increment The Loop Counter Variable
    loopCounter += 1

# Add A Blank Line To The End Of The Report
print()

## Step 4: Query the system catalog to again to confirm that all user-defined objects created in this lab have been deleted
### Overview:
Now that all of the user-defined objects that were created in this lab have been deleted, let's query the system catalog once more to confirm the deletion operations were successful.

### Execute the code:
The code in the next cell queries the <b>SYSCAT.TABLES</b> view, the <b>SYSCAT.INDEXES</b> view, and the <b>SYSCAT.ROUTINES</b> view again and attempts to return a list of the tables, views, indexes, UDFs, and procedures that were created in this lab. If the <b>DROP</b> statements executed in the previous step were successful, each query executed should return the value "<b>No records found.</b>".
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Query The System Catalog To Verify That All Of The Objects Defined In This Lab Were Deleted  #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
sqlStatement = ""                               # Structured Query Language (SQL) Statement
retCode = True                                  # runQuery Function Return Code

#----------------------------------------------------------------------------------------------#
# Query The SYSCAT.TABLES System Catalog View To Verify The Tables And View Were Deleted       #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers Column Widths Tuples
columnHeaders = ("TABNAME", "COLCOUNT")
columnWidths = (12, 11)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT TABNAME, COLCOUNT"       # Retrieve The Data Stored In These Columns
sqlStatement += " FROM SYSCAT.TABLES"           # From The SYSCAT.TABLES View
sqlStatement += " WHERE TABNAME = 'WEATHER'"    # For A Table Named 'WEATHER'
sqlStatement += " OR TABNAME = 'EMPLOYEE'"      # Or A Table Named 'EMPLOYEE'
sqlStatement += " OR TABNAME = 'DEPARTMENT'"    # Or A Table Named 'DEPARTMENT'
sqlStatement += " OR TABNAME = 'EMP_DEPT'"      # Or A View Named 'EMP_DEPT'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Display A Section Divider Line
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The SYSCAT.INDEXES System Catalog Verify The Index Was Deleted                         #
#----------------------------------------------------------------------------------------------#

# Initialize The Result Set Column Headers Column Widths Tuples
columnHeaders = ("INDNAME", "TABNAME")
columnWidths = (10, 12)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT INDNAME, TABNAME"        # Retrieve The Data Stored In These Columns,
sqlStatement += " FROM SYSCAT.INDEXES"          # From The SYSCAT.INDEXES View,
sqlStatement += " WHERE INDNAME = 'EMP_IDX'"    # For An Index Named 'EMP_IDX'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Display A Section Divider Line
if retCode == True:
    print()
    print('*' * 100)
    
#----------------------------------------------------------------------------------------------#
# Query The SYSCAT.ROUTINES System Catalog View To Verify The User Defined Functions And       #
# Procedure Were Deleted                                                                       #
#----------------------------------------------------------------------------------------------#
    
# Initialize The Result Set Column Headers And Column Widths Tuples
columnHeaders = ("ROUTINE_NAME", "CREATE_TIME")
columnWidths = (14, 26)

# Define The SQL Statement To Be Executed
sqlStatement = "SELECT ROUTINENAME,"            # Retrieve The Data Stored In This Column
sqlStatement += " CREATE_TIME"                  # And The Data Stored In This Column
sqlStatement += " FROM SYSCAT.ROUTINES"         # From The SYSCAT.ROUTINES View
sqlStatement += " WHERE ROUTINENAME"            # Where The ROUTINENAME Column Value
sqlStatement += " = 'HIGH_EARNERS'"             # Is 'HIGH_EARNERS'
sqlStatement += " OR ROUTINENAME"               # Or The ROUTINENAME Column Value
sqlStatement += " = 'DEPT_EMPLOYEES'"           # Is 'DEPT_EMPLOYEES'
sqlStatement += " OR ROUTINENAME"               # Or The ROUTINENAME Column Value
sqlStatement += " = 'CONVERT_CTOF'"             # Is 'CONVERT_CTOF'

# Execute The SQL Statement Just Defined By Calling The runQuery() Function Defined Earlier
# (Pass It The SQL Statement To Be Executed, Along With The Tuples That Contain Column Header
# And Column Width Information)
retCode = runQuery(0, sqlStatement, columnHeaders, columnWidths)

# If The SQL Statement Was Successfully Executed, Add A Blank Line To The End Of The Report
if retCode == True:
    print()

## Step 5: Terminate the database connection
### Overview:
When a database connection is established, it remains in effect until it is explicitly terminated or until the application that established the connection ends. That said, it is good programming practice to explicitly terminate any database connections that are open before ending an application returning control to the operating system. While this is typically done as part of the "exit and cleanup" work of an application, it can also be done any time an error is raised that forces an application to terminate prematurely.

### Execute the code:<br>
The code in the next cell terminates the Db2 database connection established earlier and returns control to the operating system.
<ol>
   <li>Select the code cell below and carefully read through the comments. This will help you understand the actions the code performs.</li><br>
    <li><div style="display:inline-block; vertical-align:middle;">
        When you are ready, click on the
    </div>
    <div style="display:inline-block; vertical-align:middle;">
        <img src="https://raw.githubusercontent.com/CloudPak-Outcomes/Outcomes-Projects/main/Db2-L3-Tech-Lab/CP4D_JN_Run.png" alt="Run" width="60px" align="middle"/>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
       button or press <b>Shift+Enter</b> to execute the code.
    </div></li>
</ol>

In [ ]:
#----------------------------------------------------------------------------------------------#
# Attempt To Close The Db2 Database Connection That Was Opened Earlier                         #
#----------------------------------------------------------------------------------------------#

# Define And Initialize The Appropriate Variables
retCode = 0                                     # Return Code
errorMsg = ""                                   # Detailed Error Information

# If A Db2 Database Connection Exists, Print A Status Message And Close It By Calling
# The ibm_db.close() API 
if not connectionID == None:
    print("\nDisconnecting from the \'" + dbName + "\' database ... ", end="")
    try:
        retCode = ibm_db.close(connectionID)
    except Exception:
        print("\nERROR: Unable to disconnect from the " + dbName + " database.")
        pass

    # If The Db2 Database Connection Was Not Closed, Display An Error Message And Exit
    if retCode == False:
        errorMsg = ibm_db.conn_error(connectionID)
        print(errorMsg + "\n")
        exit(-1)

    # Otherwise, Complete The Status Message
    else:
        print("Done!\n")

# Return Control To The Operating System
exit()

## This concludes the Jupyter Notebook portion of this lab.